/**
 * Created by Pompo on 03.10.2017.
 */
.section-title{
  font-weight: 700;
  margin-bottom: .5em;
  color: #582912;
  //color: #333;
  line-height: 1.25;

  @include fluid-type(font-size, 320px, 1200px, 20px, 32px);

  @include respondTo(tablet){
    text-align: center;
  }

  &_sec{
    text-align: left;
    padding-left: 20px;

    @include fluid-type(font-size, 320px, 1200px, 20px, 24px);
  }

  &_in-content{
    padding-left: 20px;
    margin-bottom: .35em !important;

    & span{
      color: #333;
      font-size: .8em;
    }
  }

  &_no-mrg{
    margin-bottom: 0;
  }
}

.content-title{
  color: #582912;
  font-weight: 700;
  margin-bottom: .25em;
  line-height: 1.25;

  @include fluid-type(font-size, 320px, 1200px, 18px, 22px);
}

.section-subtitle{
  margin: .5em 0;
  //color: #582912;

  @include fluid-type(font-size, 320px, 1200px, 16px, 20px);

}

p{
  line-height: 1.35;
  font-size: 1em;
  color: #333;
  font-weight: 400;
  margin: 0 0 1em;

  &:last-of-type{
    margin-bottom: 0;
  }

  & b{
    font-weight: 700;
  }

  & a{
    text-decoration: underline;
    color: #cb954f;
  }
}

.article-list{
  list-style: none;
  margin: 1em 0;
  padding: 0;

  & li{
    position: relative;
    padding-left: 1em;
    line-height: 1.2;
    padding-bottom: .65em;

    &:before{
      position: absolute;
      content: '';
      border-radius: 50%;
      width: 6px;
      height: 6px;
      //background-color: #582912;
      border: 1px solid #cb954f;
      left: 0;
      top: 7px;
    }

    & a{
      color: #582912;
      text-decoration: none;
      transition: color ease .3s;

      &:hover{
        color: #cb954f;
        text-decoration: underline;
      }
    }
  }

  &_num{
    list-style: decimal;
    list-style-position: inside;

    & li:before{
      display: none;
    }
  }
}