/**
 * Created by Pompo on 11.12.2017.
 */

.banner{
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;

  @include respondTo(small){
    margin-bottom: 1rem;
  }

  &:hover{
    .banner__img{
      transform: scale(1.1);
    }
  }

  &:after{
    content: '';
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(#000000,.05), rgba(#000000,.85));
    width: 100%;
    height: 100%;
  }

  &__info{
    color: #fff;
    padding: 1rem 20px;
    position: absolute;
    bottom: 0;
    z-index: 10;

    @include respondTo(small){
      padding: 1rem;
    }
  }

  &__title{
    font-weight: 700;
    line-height: 1;

    @include fluid-type(font-size, 320px, 1200px, 18px, 40px);
  }

  &__subtitle{
    font-weight: 700;
    line-height: 1;
    margin: 1em 0 .5em;

    @include fluid-type(font-size, 320px, 1200px, 15px, 24px);
  }

  &__list{
    margin: 0;
    padding: 0;
    list-style: none;

    & li{
      position: relative;
      padding-left: 1em;
      margin-bottom: .5em;
      line-height: 1.1;

      @include fluid-type(font-size, 320px, 1200px, 10px, 16px);

      &:before{
        position: absolute;
        content: '-';
        left: 0;
        top: 0;
      }
    }
  }

  &__txt{
    color: #fff;
    font-size: 1.1rem;
    margin: .5em 0 0;

    @include fluid-type(font-size, 320px, 1200px, 14px, 18px);
  }

  &__img{
    transition: transform ease .45s;

    //&:hover{
    //  transform: scale(1.1);
    //}
  }
}