.breadcrumbs {
  padding-bottom: 2rem;
  display: flex;
  gap: .5rem;
  margin-top: -1.5rem;

  @include respondTo(tablet) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 0;
    padding-top: 2rem;
  }

  &__item {
    display: flex;
    white-space: nowrap;
    gap: .5rem;

    &::before {
      content: '/';
    }

    &:first-child {
      &:before {
        display: none;
      }
    }

    & a {
      color: #582912;
      text-decoration: none;
      transition: color ease .4s;

      &:hover {
        color: #cb954f;
      }
    }
  }
}