/**
 * Created by Pompo on 22.11.2017.
 */
.card{
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;

  &__img{
    height: 160px;
    overflow: hidden;

    & img{
      object-fit: cover;
      min-height: 100%;
      transition: transform ease-out .33s;
    }
  }

  &__body{
    padding: 20px;

    @include respondTo(mobile){
      padding: 1rem;
    }
  }

  &__footer{
    padding: 0 20px 20px;
    align-self: flex-end;
    margin-top: auto;

    @include respondTo(mobile){
      padding: 0 1rem 1rem;
    }
  }

  &__title{
    font-weight: 700;
    color: #cb954f;
    line-height: 1.1;
    margin-bottom: .5em;

    @include fluid-type(font-size, 320px, 1200px, 16px, 20px);
  }

  &__link{
    text-decoration: none;
    border-radius: 3px;
    color: #582912;
    position: relative;
    padding-right: .5em;
    display: inline-block;

    &:after{
      content: '';
      position: absolute;
      right: 0;
      top: calc(50% - 1px);
      width: 4px;
      height: 4px;
      background: transparent;
      border-top: 1px solid #582912;
      border-right: 1px solid #582912;
      transform: rotate(45deg);
    }
  }
}