/**
 * Created by Pompo on 04.10.2017.
 */
.contact{
  padding: 3em 0;

  &__wrap{
    display: flex;
    justify-content: space-between;
  }

  &__map{
    width: 60%;
  }

  &__info{
    width: 35%;
  }

  &__title{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #333;
  }

  &__data-row{
    margin-bottom: 1em;
    font-size: 1.25em;
    line-height: 1.3;

    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }

  &__data-info{
    float: left;
    width: 20%;
    font-weight: 700;
  }

  &__data-txt{
    float: left;
    width: 70%;
    margin-left: 5%;

    & a{
      text-decoration: none;
      color: #cb954f;
    }
  }


}