/**
 * Created by Pompo on 04.10.2017.
 */
.contact{
  padding: 3em 0;

  @include respondTo(small){
    padding: 2em 0;
  }

  &__wrap{
    display: flex;
    justify-content: space-between;

    @include respondTo(tablet){
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__map{
    width: 60%;

    @include respondTo(tablet){
      width: 100%;
      order: 2;
    }
  }

  &__info{
    width: 35%;

    @include respondTo(tablet){
      width: 100%;
    }
  }

  &__title{
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #333;
  }

  &__data-row{
    margin-bottom: 1em;
    font-size: 1.25em;
    line-height: 1.3;

    @include respondTo(small){
      font-size: 1em;
    }

    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }

  &__data-info{
    float: left;
    width: 25%;
    font-weight: 700;
    max-width: 80px;
  }

  &__data-txt{
    float: left;
    width: 70%;
    margin-left: 5%;

    & a{
      text-decoration: none;
      color: #cb954f;
    }
  }

  & .section-title{

    @include respondTo(tablet){
      text-align: left;
    }
  }
}