/**
 * Created by Pompo on 04.10.2017.
 */
.contact{
  padding: 3em 0;
  position: relative;
  height: 500px;

  &__map{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

  }

  &__info{
    width: 43%;
    position: relative;
    z-index: 10;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 12px;
  }

  &__title{
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 1em;
    color: #333;
  }

  &__data-row{
    margin-bottom: 1em;
    font-size: 1.05em;
    line-height: 1.25;

    &:after{
      content: '';
      clear: both;
      display: table;
    }
  }

  &__data-info{
    float: left;
    width: 25%;
    font-weight: 700;
    max-width: 80px;
    font-size: 1em;
  }

  &__data-txt{
    float: left;
    width: 70%;
    margin-left: 5%;
    font-size: 1em;

    & a{
      text-decoration: none;
      color: #cb954f;
    }

  }

  & .button{
    max-width: none;
  }
}