/**
 * Created by Pompo on 10.12.2017.
 */

//блок вопросы-ответы
.faq-block{
  background-color: #fff;
  box-shadow: 0 2px 0 rgba(0,0,0,.2);
  margin: 2rem 0;

  @include respondTo(small){
    margin: 1rem 0;
  }

  &__question{
    padding: 20px 35px 20px 20px;
    color: #333;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    line-height: 1.3;

    @include fluid-type(font-size, 320px, 1200px, 14px, 17px);

    @include respondTo(small){
      padding: 1rem 2rem 1rem 1rem;
    }

    &:after{
      position: absolute;
      content: '';
      right: 20px;
      top: 25px;
      width: 6px;
      height: 6px;
      background-color:  transparent;
      border-bottom: 2px solid #582912;
      border-left: 2px solid #582912;
      transform: rotate(-45deg);
      transition: transform ease .3s;

      @include respondTo(small){
        right: 1rem;
        top: 1.1rem;
      }
    }

    &.is-open{

      &:after{
        transform: rotate(135deg);
      }
    }
  }

  &__answer{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: none;

    @include fluid-type(font-size, 320px, 1200px, 12px, 16px);

    @include respondTo(small){
      padding: 1rem;
    }
  }

}