.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  margin-bottom: 0;

  @include respondTo(tablet) {
    padding: 2rem 1.25rem;
  }

  @include respondTo(mobile) {
    flex-direction: column;
    gap: 1.5rem;
  }

  &__item {
    flex: 0 0 23.5%;
    align-self: center;
    border: 1px solid #582912;
    padding: 1.25rem;
    cursor: pointer;
    transition: all ease .4s;

    @include respondTo(mobile) {
      padding: 1rem;
      flex-basis: 100%;
    }

    &:first-child {
      flex: 0 0 40%
    }

    &:hover {
      border-color: #cb954f;
      transform: scale(1.1);
    }

    & img {
      object-fit: cover;
      display: block;
    }
  }
}