.scroll-down{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 20px);
    background: url('../img/arrow-down.svg') no-repeat scroll;
    width: 40px;
    height: 30px;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
    animation-name: arrow-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include respondTo(mobile){
        display: none;
    }
}

.soc-link{
    width: 2em;
    height: 2em;
}

.menu-txt{
    color: #582912;
    padding-top: 2em;
    font-size: .85em;
}

@keyframes arrow-down {
    0% {
        bottom: 30px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 30px;
    }
}