.scroll-down{
    position: absolute;
    bottom: 30px;
    left: calc(50% - 20px);
    background: url('../img/arrow-down.svg') no-repeat scroll;
    width: 40px;
    height: 30px;
    display: inline-block;
    z-index: 10;
    cursor: pointer;
    animation-name: arrow-down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

    @include respondTo(mobile){
        display: none;
    }
}

.soc-link{
    width: 2em;
    height: 2em;
}

.menu-txt{
    color: #582912;
    padding-top: 2em;
    font-size: .85em;

    @include respondTo(mobile){
        display: none;
    }
}

.container-flex{
    display: flex;
    justify-content: space-between;

    @include respondTo(tablet){
        flex-direction: column;
    }

    & .content__col{

        @include respondTo(tablet){
            padding-top: 0;
        }

        &_sm{
            @media screen and (max-width: 1180px){
                padding-top: 0;
            }

            @include respondTo(tablet){
                padding-top: 2.5em;
            }
        }
    }
}

.hide-mobile{

    @include respondTo(mobile){
        display: none !important;
    }
}

@keyframes arrow-down {
    0% {
        bottom: 30px;
    }

    50% {
        bottom: 10px;
    }

    100% {
        bottom: 30px;
    }
}