/**
 * Created by Pompo on 26.09.2017.
 */
.menu {
  transition: transform ease-out .33s;
  transform: translateX(-100%);
  width: 20%;
  background-color: rgba(0, 0, 0, .85);
  color: #fff;
  height: calc(100vh - 90px);
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 50px;
  z-index: 100;
  top: 90px;

  @media screen and (max-width: 1600px){
    padding: 30px;
    width: 30%;
  }

  @include respondTo(tablet){
    padding: 1em;
    width: 40%;
  }

  @include respondTo(mobile){
    top: 0;
    height: 100%;
    padding-top: 200px;
  }

  @media screen and (max-width: 640px){
    width: 50%;
  }

  @include respondTo(small){
    width: 80%;
  }

  &.is-open {
    transform: translateX(0);

    & .nav a{
      transform: translateX(0);
    }
  }

  & a{
    color: #fff;
    text-transform: uppercase;
    //padding: 20px;
    //font-size: 20px;
    display: block;
    text-decoration: none;
    transform: translateX(-100%);
    transition: transform ease-out .7s;

    @include fluid-type(font-size, 320px, 1200px, 18px, 20px);
    @include fluid-type(padding, 320px, 1200px, 15px, 20px);

    &:nth-child(1){
      transition-delay: .1s;
    }

    &:nth-child(2){
      transition-delay: .2s;
    }

    &:nth-child(3){
      transition-delay: .3s;
    }

    &:nth-child(4){
      transition-delay: .4s;
    }

    &:nth-child(5){
      transition-delay: .5s;
    }

    &.is-active{
      opacity: .5;
      cursor: default;
    }
  }
}

//mobile menu button
.mobile-btn {
  position: absolute;
  top: 35px;
  left: 2em;
  width: 32px;
  height: 24px;
  transform: rotate(0deg);
  cursor: pointer;
  z-index: 101;

  @media screen and (max-width: 1180px){
    left: 1em;
  }

  @include respondTo(mobile){
    top: 1.5em;
  }
}

.mobile-btn span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #333333;
  opacity: 1;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.mobile-btn span:nth-child(even) {
  left: 50%;
  border-radius: 0 3px 3px 0;
}

.mobile-btn span:nth-child(odd) {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.mobile-btn span:nth-child(1), .mobile-btn span:nth-child(2) {
  top: 0;
}

.mobile-btn span:nth-child(3), .mobile-btn span:nth-child(4) {
  top: 9px;
}

.mobile-btn span:nth-child(5), .mobile-btn span:nth-child(6) {
  top: 18px;
}

.mobile-btn.open span:nth-child(1), .mobile-btn.open span:nth-child(6) {
  transform: rotate(45deg);
}

.mobile-btn.open span:nth-child(2), .mobile-btn.open span:nth-child(5) {
  transform: rotate(-45deg);
}

.mobile-btn.open span:nth-child(1) {
  left: 2px;
  top: 3px;
}

.mobile-btn.open span:nth-child(2) {
  left: calc(50% - 2px);
  top: 3px;
}

.mobile-btn.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.mobile-btn.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.mobile-btn.open span:nth-child(5) {
  left: 2px;
  top: 14px;
}

.mobile-btn.open span:nth-child(6) {
  left: calc(50% - 2px);
  top: 14px;
}

.mobile-btn.open {
  position: fixed;
  z-index: 101;
  top: 35px;
  left: 2em;

  @media screen and (max-width: 1180px){
    left: 1em;
  }

  @include respondTo(mobile){
    top: 1.5em;
  }
}