/**
 * Created by Pompo on 26.09.2017.
 */
.menu {
  transition: transform ease-out .33s;
  transform: translateX(200%);
  width: 50%;
  background-color: rgba(#582912, .9);
  color: #fff;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  padding: 3em 1em;
  z-index: 100;
  top: 0;
  display: none;

  @include respondTo(mobile){
    display: flex;
  }

  @media screen and (max-width: 640px){
    width: 80%;
  }

  @include respondTo(small){
    width: 100%;
    transform: translateX(100%);
  }

  &.is-open {
    transform: translateX(100%);

    @media screen and (max-width: 640px){
      transform: translateX(40%);
    }

    @include respondTo(small){
      transform: translateX(0);
    }

    & .nav a{
      transform: translateX(0);
    }
  }

  & a{
    color: #fff;
    text-transform: uppercase;
    //padding: 20px;
    //font-size: 20px;
    display: block;
    text-decoration: none;
    transform: translateX(200%);
    transition: transform ease-out .7s;

    @include fluid-type(font-size, 320px, 1200px, 18px, 20px);
    @include fluid-type(padding, 320px, 1200px, 15px, 20px);

    &:nth-child(1){
      transition-delay: .1s;
    }

    &:nth-child(2){
      transition-delay: .2s;
    }

    &:nth-child(3){
      transition-delay: .3s;
    }

    &:nth-child(4){
      transition-delay: .4s;
    }

    &:nth-child(5){
      transition-delay: .5s;
    }

    &.is-active{
      opacity: .5;
      cursor: default;
    }
  }
}