/**
 * Created by Pompo on 11.10.2017.
 */
.price-tbl{
  width: 100%;
  margin: 1em 0;

  & tr{
    background-color: #fff;

    &:nth-child(2n){
      background-color: #f2f2f2;
    }
  }

  & td{
    padding: .8em .5em;
    border: 1px solid #ccc;
    line-height: 1.1;

    @include fluid-type(font-size, 320px, 1200px, 12px, 18px);

    &:last-of-type{
      text-align: right;
    }
  }
}