/**
 * Created by Pompo on 03.10.2017.
 */
.promo{
  padding: 2.5em 0;
  border-top: 1px solid #582912;
  border-bottom: 1px solid #582912;
  background-color: rgba(#fbf1df,.3);
  margin: 1em 0;
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top: .5em;
    right: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background: url('../img/promo.svg') no-repeat scroll transparent;
  }

  &__title{
    color: #582912;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    margin-bottom: .5em;
    text-align: center;
  }

  &__subtitle{
    color: #cb954f;
    font-size: 1.75em;
    line-height: 1.2;
    margin: 0 0 .5em;
    text-align: center;
  }

  &__txt{
    color: #000;
    text-align: center;

    &_accent{
      color: #582912;
      font-weight: 700;
      font-size: 1.5em;
      //margin: .35em 0;
      display: inline-block;
    }
  }

  &__list{
    margin: .5em auto 0;
    list-style: none;
    padding: 0;
    width: 45%;

    @include respondTo(mobile){
      width: 100%;
    }

    & li{
      position: relative;
      padding-left: .8em;
      line-height: 1.25;
      padding-bottom: .5em;

      &:before{
        position: absolute;
        content: '';
        top: 10px;
        left: 0;
        border-radius: 50%;
        background-color: #582912;
        width: 4px;
        height: 4px;
      }
    }
  }
}