/**
 * Created by Pompo on 03.10.2017.
 */
.promo{
  padding: 3.5em 0;
  background: linear-gradient(45deg, rgba(#cb954f, .8), #fbf1df);

  &__wrap{
    padding-left: 35%;
    background: url('../img/promo-img.png') no-repeat 5% 100% / contain;

    @include respondTo(mobile){
      background: none;
      padding: 0 1em;
    }
  }

  &__title{
    color: #582912;
    text-transform: uppercase;
    font-weight: 700;
    //font-size: 2em;
    margin-bottom: .3em;

    @include fluid-type(font-size, 320px, 1200px, 22px, 32px);
  }

  &__subtitle{
    color: #cb954f;
    font-size: 1.75em;
    line-height: 1.2;
    margin: 0 0 .2em;

    @include fluid-type(font-size, 320px, 1200px, 22px, 28px);
  }

  &__txt{
    color: #000;
    font-weight: 700;

    &_accent{
      color: #582912;
      font-weight: 700;
      font-size: 3.5em;
      line-height: 1;
      display: inline-block;
      position: relative;
      margin-bottom: 0;

      &:after{
        position: absolute;
        right: -35px;
        top: 18px;
        content: 'руб';
        font-size: .4em;
        text-transform: uppercase;
        transform: rotate(270deg);

      }
    }
  }

  &__list{
    margin-left: -.8em;
    list-style: none;
    padding: .3em 0 .5em;
    display: block;

    @include respondTo(mobile){
      margin-left: 0;
    }

    & li{
      position: relative;
      padding-left: .8em;
      line-height: 1.25;
      padding-bottom: .5em;

      &:before{
        position: absolute;
        content: '';
        top: 10px;
        left: 0;
        border-radius: 50%;
        background-color: #582912;
        width: 4px;
        height: 4px;
      }
    }
  }
  
  & .container{
    background-color: #fff;
    box-shadow: 0 4px 18px rgba(0,0,0,.1);
    padding: 30px 0 0;
    position: relative;
    z-index: 10;

    @include respondTo(mobile){
      padding-top: 1em;
    }
  }
}

.unit-rub{
  display: inline-block;
  font-size: .4em;
  text-transform: uppercase;
  transform: rotate(270deg);
}