/**
 * Created by Pompo on 03.10.2017.
 */
.service{
  padding: 2em 0;

  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    width: 49%;

    @include respondTo(mobile){
      width: 45%;
    }

    @include respondTo(small){
      width: 100%;
    }
  }
}