/**
 * Created by Pompo on 03.10.2017.
 */
.service{
  padding: 2em 0;

  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item{
    width: 49%;
    text-decoration: none;
    transition: box-shadow ease .33s;

    &:hover{
      box-shadow: 0 0 14px rgba(0,0,0,.35);

      .card__img img{
        transform: scale(1.1);
      }
    }

    @include respondTo(mobile){
      width: 45%;
    }

    @include respondTo(small){
      width: 100%;
    }
  }
}