/**
 * Created by Pompo on 04.10.2017.
 */
.video{
  padding: 2.5em 0;
  background-color: #fff;
  border-bottom: 1px solid #ccc;

  & .container{
    display: flex;
    justify-content: space-between;
  }

  &__item{
    width: 30%;
    cursor: pointer;
  }
}