.add-block.add-block_article
    h3.add-block__title Полезно знать
    ul.article-list
        li
            a(href="#") Расторжение брака через суд
        li
            a(href="#") Раздел имущества супругов
        li
            a(href="#") Вызяскание алиментов
        li
            a(href="#") Споры о проживании детей
        li
            a(href="#") Выселение после развода
        li
            a(href="#") Лишение родительских прав
        li
            a(href="#") Установление/оспаривание отцовства
        li
            a(href="#") Бракоразводный процесс
        li
            a(href="#") Раздел ипотеки при разоде
        li
            a(href="#") Как взыскать алименты с безработного
        li
            a(href="#") Доказательства для установленря отцовства
        li
            a(href="#") Определение порядка встреч с ребенком
        li
            a(href="#") Признание брачного договора недействительным
        li
            a(href="#") Как завести речь о заключение брачного довогора
        li
            a(href="#") Консультация юриста по разводам
        li
            a(href="#") Оформление наследства после пропуска срока

