.add-block.add-block_article
    h3.add-block__title Полезно знать
    ul.article-list
        li
            a(href="rastorzhenie-braka-article.html") Расторжение брака в суде
        li
            a(href="semejnyj-yurist.html") Семейный юрист

