.add-block.add-block_article
    h3.add-block__title Полезно знать
    ul.article-list
        li
            a(href="#") Расторжение брака в суде
        li
            a(href="#") Раздел имущества супругов
        li
            a(href="#") Вызяскание алиментов
        li
            a(href="#") Не дают видеться с&nbsp;ребенком
        li
            a(href="#") Консультация юриста по разводам
        li
            a(href="#") Алименты
        li
            a(href="#") Бракоразводный процесс
        li
            a(href="#") Бракоразводный процесс
        li
            a(href="#") Раздел ипотеки
        li
            a(href="#") Выдел доли в&nbsp;квартире
        li
            a(href="#") Определение места жительства ребенка
        li
            a(href="#") Оспаривание отцовства
        li
            a(href="#") Установление отцовства
        li
            a(href="#") Лишение родительских прав
        li
            a(href="#") Выселение из квартиры
        li
            a(href="#") Жилищные споры
        li
            a(href="#") Наследование
        li
            a(href="#") Наследство. Если пропущен срок
        li
            a(href="#") Юрист. Помощь в суде

