.add-block.add-block_menu
    h3.add-block__title Услуги
    nav.sub-menu
        a.sub-menu__link(href="") Раздел имущества
        a.sub-menu__link(href="") Расторжение брака
        a.sub-menu__link(href="") Взыскание алиментов
        a.sub-menu__link(href="") Споры о детях
        a.sub-menu__link(href="") Отцовство
        a.sub-menu__link(href="") Лишение родительских прав
        a.sub-menu__link(href="") Жилищные спорты
        a.sub-menu__link(href="") Наследственные споры