extends inc/base

block title
    title= 'О Юридическом центре Право и семья'

block content

    .content-wrap
        .container.container-flex

            .content__col
                h1.section-title О&nbsp;Юридическом центре &laquo;Право и&nbsp;Семья&raquo;

                p С&nbsp;2005 года мы&nbsp;занимаемся оказанием юридических услуг по&nbsp;семейным делам: помогаем доверителям решать проблемы, возникающие в&nbsp;процессе расторжения брака, раздела имущества, взыскания алиментов, установления или оспаривания отцовства, рассмотрения споров о&nbsp;проживании детей и&nbsp;общению с&nbsp;ними.
                p Мы&nbsp;можем гарантировать высокое качество оказания услуг, так как в&nbsp;компании работают профессиональные <a href="/" class="link">юристы</a> с&nbsp;многолетним опытом судебного представительства, выбравшие для себя семейное право, как основную специализацию деятельности.
                p Семейное право&nbsp;&mdash; специфичная отрасль, так как в&nbsp;подобных спорах переплетаются судьбы людей, некогда любивших друг друга, проживших вместе не&nbsp;один год, интересы детей. Мы&nbsp;прилагаем все усилия, что&nbsp;бы судебный процесс прошел как можно быстрее и &laquo;комфортнее&raquo; для Вас.
                p Мы&nbsp;берем весь судебный процесс на&nbsp;себя: от&nbsp;составления иска до&nbsp;принятия судом решения. Если Вы&nbsp;не&nbsp;хотите участвовать в&nbsp;суде по&nbsp;каким&nbsp;&mdash; либо причинам, то&nbsp;мы представим Ваши интересы без Вашего присутствия в&nbsp;суде.
                p Мы&nbsp;уже помогли многим людям в&nbsp;решении проблем. Если Вы&nbsp;обратитесь к&nbsp;нам за помощью, мы&nbsp;используем весь накопленный опыт и&nbsp;знания для достижения необходимого результата и&nbsp;для Вас.
                p
                    b Главное в&nbsp;нашей работе&nbsp;&mdash; это торжество справедливости!
                p С&nbsp;уважением, <br> Руководитель центра &laquo;Право и&nbsp;Семья&raquo; Шишигин Валерий Юрьевич.

            aside.content__col.content__col_sm
                img(src="img/shishigin.jpg")
                p
                    b Шишигин Валерий Юрьевич&nbsp;&mdash; юрист по&nbsp;семейным делам.

                p В&nbsp;2003 году окончил юридический факультет Пермского Государственного Университета по&nbsp;очной форме обучения.
                p С&nbsp;отличием защитил дипломную работу на&nbsp;тему: &laquo;Юридические гарантии Конституционных прав и&nbsp;свобод человека и&nbsp;гражданина в&nbsp;РФ&raquo;.
                p С&nbsp;2003 по&nbsp;2005&nbsp;г. работал в&nbsp;прокуратуре.
                p С&nbsp;2005&nbsp;г. оказывает юридическую помощь по&nbsp;семейным делам.
                p Неоднократно проходил курсы повышения квалификации. <br>Участвовал в&nbsp;различных тренингах и&nbsp;семинарах.

    include inc/contact-block.html