extends inc/base

block title
    title= 'Расторжение брака в суде | Юридический центр Право'

block content

    section.content-wrap
        .container.container-flex

            .content__col
                h1.section-title Страница в разработке

                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br

            aside.content__col.content__col_sm
                h2.section-title.section-title_sec Другие статьи по теме
                ul.article-list
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья

    include inc/contact-block.html