extends inc/base

block title
    title= 'Расторжение брака в суде | Юридический центр Право'

block content

    .content-wrap
        .container.container-flex

            .content__col
                h1.section-title Расторжение брака в суде

                p Оплата услуг осуществляется в&nbsp;рассрочку.
                p Стоимость услуг является судебными расходами, которые подлежат взысканию с&nbsp;проигравшей стороны.
                p Стоимость услуг может варьироваться в&nbsp;зависимости от&nbsp;особенностей и&nbsp;сложности дела.
                p Цены указаны за&nbsp;услуги в&nbsp;г. Перми.
                p Стоимость участия семейного юриста в&nbsp;судах Пермского края оговаривается индивидуально.

                h2.section-title.section-title_sec Составление иска
                p включает в&nbsp;себя: подготовку искового заявления, расчет государственной пошлины, подготовку пакета документов (письменных доказательств) по&nbsp;числу участвующих лиц, составление необходимых ходатайств. Вам останется только отправить пакет документов в&nbsp;суд.

                h2.section-title.section-title_sec Судебное представительство
                p &mdash;&nbsp;это участие юриста по&nbsp;семейным делам в Мировом или Районном суде (составление искового заявления, сбор доказательств, участие в&nbsp;судебных заседаниях и&nbsp;иные юридически необходимые действия для достижения положительного решения суда) с&nbsp;момента обращения доверителя до вынесения судом первой инстанции решения. Возможно ведения без Вашего присутствия в&nbsp;судебных заседаниях.

                h2.section-title.section-title_sec Апелляционная инстанция
                p &mdash;&nbsp;это участие юриста в&nbsp;Районном или Краевом суде с&nbsp;заявлением об&nbsp;обжаловании решения суда первой инстанции.

                h2.section-title.section-title_sec Заочное ведение дела в&nbsp;суде включает в&nbsp;себя:
                ol.article-list
                    li Подготовка иска и&nbsp;пакета документов для подачи заявления в&nbsp;суд.
                    li Неограниченное число консультаций по&nbsp;текущему делу.
                    li Составление необходимых документов.
                    li Рекомендации для достижения положительного решения в&nbsp;суде.
                    li Помощь в&nbsp;поиске и&nbsp;сборе информации, данных, доказательств.

                p
                    b Мы&nbsp;Вам обязательно поможем в&nbsp;решении семейного спора.

            aside.content__col.content__col_sm
                h2.section-title.section-title_sec Другие статьи по теме
                ul.article-list
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья

    include inc/contact-block.html