extends inc/base

block title
    title= 'Юридическом центре Право и Cемья'

block content

    section(class="content-wrap")
        .container.container-flex
            .content__col
                h1.section-title.section-title_no-mrg Юридические услуги по&nbsp;Семейным делам
                .accent-block
                    p.accent-block__txt Опыт ежедневной работы более 12 лет

                section.service
                    .service__row
                        a.card.service__item(href="rastorzhenie-braka.html")
                            .card__img
                                img(src="img/rastirzheniye-braka.jpg")
                            .card__body
                                h2.card__title Расторжение брака
                                ul.list
                                    li если супруг(а) уклоняется от&nbsp;расторжения брака
                                    li если есть несовершеннолетние дети
                                    li если супруг(а) живет в&nbsp;другом городе
                            .card__footer
                                span.card__link Подробнее

                        a.card.service__item(href="razdel-imushchestva.html")
                            .card__img
                                img(src="img/razdel.jpg")
                            .card__body
                                h2.card__title Раздел имущества
                                ul.list
                                    li раздел совместного имущества
                                    li раздел долгов и кредитов
                                    li раздел ипотеки
                                    li выдел доли в квартире
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="vzyskanie-alimentov.html")
                            .card__img
                                img(src="img/aliment.jpg")
                            .card__body
                                h2.card__title Взыскание алиментов
                                ul.list
                                    li в&nbsp;долях от&nbsp;заработной платы
                                    li в&nbsp;твердой денежной сумме
                                    li если отец (мать) не&nbsp;работает
                                    li если нет дохода у&nbsp;родителя
                                    li взыскание дополнителных расходов на&nbsp;содержание ребенка
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="#")
                            .card__img
                                img(src="img/child-quest.jpg")
                            .card__body
                                h2.card__title Споры о детях
                                ul.list
                                    li определение порядка общения с&nbsp;детьми
                                    li определение места жительства ребенка
                                    li общение с&nbsp;ребенком дедушки, бабушки и&nbsp;других родственников
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="lishenie-roditelskih-prav.html")
                            .card__img
                                img(src="img/parent-pravo.jpg")
                            .card__body
                                h2.card__title Лишение родительских прав
                                ul.list
                                    li если родитель не&nbsp;платит алименты
                                    li злоупотребляет своими правами
                                    li не&nbsp;воспитывает ребенка и&nbsp;не&nbsp;дает согласие на&nbsp;усыновление
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="ustanovlenie-i-osparivanie-otcovstva.html")
                            .card__img
                                img(src="img/father.jpg")
                            .card__body
                                h2.card__title Установление и&nbsp;оспаривание отцовства
                                ul.list
                                    li установление отцовства
                                    li оспаривание отцовства
                                    li отмена алиментов
                                    li установление отцовства после смерти отца
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="#")
                            .card__img
                                img(src="img/nasledstvo.jpg")
                            .card__body
                                h2.card__title Наследственные споры
                                ul.list
                                    li вступление в&nbsp;наследство после пропуска срока
                                    li оспаривание завещания
                                    li иные споры, вытекающие из наследственных отношений
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="#")
                            .card__img
                                img(src="img/jilishnie-spori.jpg")
                            .card__body
                                h2.card__title Жилищные споры
                                ul.list
                                    li вселение в&nbsp;квартиру
                                    li выселение из&nbsp;квартиры
                                    li определение порядка пользования квартирой
                                    li сопровождение сделок с&nbsp;недвижимостью
                            .card__footer
                                .card__link Подробнее

            aside.content__col.content__col_sm
                include inc/articel-block
                include inc/sub-menu
                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="#") Консультации<br> Судебное представительство

    section.content-wrap(id="price")
        .container.container-flex
            .content__col
                h2.section-title.section-title_sec Семейно&nbsp;&mdash; правовые споры&nbsp;&mdash; наша специализация
                .txt-block
                    p Если Вы&nbsp;ищете юриста&nbsp;&mdash; специалиста именно по&nbsp;семейным делам, то&nbsp;Вы попали в&nbsp;нужную компанию. Более 12&nbsp;лет наши юристы ежедневно решают самые сложные и&nbsp;запутанные случаи, возникающие в&nbsp;юридической практике, консультируют и&nbsp;участвуют в&nbsp;судебных заседаниях, с&nbsp;успехом добиваются справедливых и&nbsp;законных решений.
                    p Итогом нашей работы будет решение суда с&nbsp;максимально благоприятным для Вас результатом.
                    p <b>Порядок взаимодействия:</b>
                    p <b>Встреча (консультация).</b><br>
                        | На&nbsp;встрече будут установлены обстоятельства конкретного дела, проанализированы документы. На&nbsp;основании этого будет сделан вывод о&nbsp;перспективах дела.
                    p <b>Подготовка искового заявления.</b><br>
                        | При подготовке иска подбираются нормы закона, на&nbsp;основании которых формируются исковые требования. Изучается судебная практика (Постановления Пленума ВС&nbsp;РФ, примеры аналогичных дел в&nbsp;Пермском крае и&nbsp;по&nbsp;России), формируется доказательная база, составляются необходимые ходатайства, рассчитывается гос. пошлина, определяется подсудность дела. После подготовки исковое заявление с&nbsp;приложениями подается в&nbsp;суд.
                    p <b>Судебное представительство.</b><br>
                        | Юрист присутствует на&nbsp;всех судебных заседаниях до&nbsp;вынесения судом решения. Участие юриста в&nbsp;судебных заседаниях возможно в&nbsp;Ваше отсутствие. Для этого достаточно выдать доверенность на&nbsp;ведение дела и&nbsp;не&nbsp;испытывать стресс от&nbsp;участия в&nbsp;суде.
                    p <b>Поэтапная оплата услуг.</b><br>
                        | Оплата услуг производится в&nbsp;рассрочку. Сумма делится на&nbsp;2&nbsp;&mdash; 3&nbsp;платежа. При заключении договора уплачивается аванс, и&nbsp;юрист (адвокат) по&nbsp;семейному делу незамедлительно приступает к&nbsp;работе. Уплаченная сумма признается судебными расходами и&nbsp;взыскивается с&nbsp;проигравшей стороны.
                    p Обращайтесь в&nbsp;Юридический центр &laquo;Право и&nbsp;Семья&raquo;, где Вам обязательно помогут.

                    .tag-block
                        .tag-block__title Теги:
                        .tag-block__container
                            span.tag-block__item Семейный юрист,
                            span.tag-block__item Семейный адвокат,
                            span.tag-block__item Юридическая помощь,
                            span.tag-block__item Судебное представительство,
                            span.tag-block__item Консультация юриста

                .accent-block
                    .accent-block__txt Стоимость юридических услуг признается судебными расходами и
                        | &nbsp;подлежит взысканию с&nbsp;проигравшей стороны

            aside.content__col.content__col_sm
                .add-block
                    .add-block__title  Стоимость услуг
                    .add-block__price
                        .add-block__price-row.add-block__price-row_name
                            | Консультация в&nbsp;офисе (по&nbsp;предварительной записи)
                        .add-block__price-row.add-block__price-row_cost
                            | 500 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Составление искового заявления
                        .add-block__price-row.add-block__price-row_cost
                            | от 1 500 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Расторжение брака в&nbsp;суде
                        .add-block__price-row.add-block__price-row_cost
                            | от 5 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Раздел имущества супругов
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Взыскание алиментов
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение места жительства ребенка с&nbsp;одним из&nbsp;родителей
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение порядка общения с&nbsp;ребенком
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Установление/Оспаривание отцовства
                        .add-block__price-row.add-block__price-row_cost
                            | от 12 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Лишение родительских прав
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Снятие с&nbsp;регистрационного учета бывших членов семьи
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение порядка пользования жилым помещением
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Споры о&nbsp;наследстве
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Участие в&nbsp;суде апелляционной инстанции
                        .add-block__price-row.add-block__price-row_cost
                            | 5 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Составление апелляционной или кассационной жалобы
                        .add-block__price-row.add-block__price-row_cost
                            | 5 000 ₽
                    a.add-block__price-link(href="price.html") Посмотреть все цены

    include inc/contact-block.html