extends inc/base

block title
    title= 'Опытные юристы по семейным делам | Центр Право и Семья'
    meta(name='description' content='Консультации и представительство в суде по семейным спорам - расторжение брака, раздел имущества, взыскание алиментов, отцовство. На сайте представлено много полезной информации')

block content

    section(class="content-wrap")
        .container.container-flex
            .content__col
                h1.section-title.section-title_no-mrg Юридические услуги по&nbsp;Семейным делам
                .accent-block
                    p.accent-block__txt Опыт ежедневной работы более 12 лет

                section.service
                    .service__row
                        a.card.service__item(href="rastorzhenie-braka.html")
                            .card__img
                                img(src="img/rastirzheniye-braka.jpg")
                            .card__body
                                h2.card__title Расторжение брака
                                ul.list
                                    li если супруг(а) уклоняется от&nbsp;расторжения брака
                                    li если есть несовершеннолетние дети
                                    li если супруг(а) живет в&nbsp;другом городе
                            .card__footer
                                span.card__link Подробнее

                        a.card.service__item(href="razdel-imushchestva.html")
                            .card__img
                                img(src="img/razdel.jpg")
                            .card__body
                                h2.card__title Раздел имущества
                                ul.list
                                    li раздел совместного имущества
                                    li раздел долгов и кредитов
                                    li раздел ипотеки
                                    li выдел доли в квартире
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="vzyskanie-alimentov.html")
                            .card__img
                                img(src="img/aliment.jpg")
                            .card__body
                                h2.card__title Взыскание алиментов
                                ul.list
                                    li в&nbsp;долях от&nbsp;заработной платы
                                    li в&nbsp;твердой денежной сумме
                                    li если отец (мать) не&nbsp;работает
                                    li если нет дохода у&nbsp;родителя
                                    li взыскание дополнителных расходов на&nbsp;содержание ребенка
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="spory-o-detyah.html")
                            .card__img
                                img(src="img/child-quest.jpg")
                            .card__body
                                h2.card__title Споры о детях
                                ul.list
                                    li определение порядка общения с&nbsp;детьми
                                    li определение места жительства ребенка
                                    li общение с&nbsp;ребенком дедушки, бабушки и&nbsp;других родственников
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="lishenie-roditelskih-prav.html")
                            .card__img
                                img(src="img/parent-pravo.jpg")
                            .card__body
                                h2.card__title Лишение родительских прав
                                ul.list
                                    li если родитель не&nbsp;платит алименты
                                    li злоупотребляет своими правами
                                    li не&nbsp;воспитывает ребенка и&nbsp;не&nbsp;дает согласие на&nbsp;усыновление
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="ustanovlenie-i-osparivanie-otcovstva.html")
                            .card__img
                                img(src="img/father.jpg")
                            .card__body
                                h2.card__title Установление и&nbsp;оспаривание отцовства
                                ul.list
                                    li установление отцовства
                                    li оспаривание отцовства
                                    li отмена алиментов
                                    li установление отцовства после смерти отца
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="nasledstvennye-spory.html")
                            .card__img
                                img(src="img/nasledstvo.jpg")
                            .card__body
                                h2.card__title Наследственные дела
                                ul.list
                                    li вступление в&nbsp;наследство после пропуска срока
                                    li оспаривание завещания
                                    li иные споры, вытекающие из наследственных отношений
                            .card__footer
                                .card__link Подробнее

                        a.card.service__item(href="zhilishchnye-spory.html")
                            .card__img
                                img(src="img/jilishnie-spori.jpg")
                            .card__body
                                h2.card__title Жилищные споры
                                ul.list
                                    li вселение в&nbsp;квартиру
                                    li выселение из&nbsp;квартиры
                                    li определение порядка пользования квартирой
                                    li сопровождение сделок с&nbsp;недвижимостью
                            .card__footer
                                .card__link Подробнее

            aside.content__col.content__col_sm
                include inc/articel-block
                include inc/sub-menu

                //.accent-block.accent-block_link.hide-tablet
                //    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    section.content-wrap(id="price")
        .container.container-flex
            .content__col
                .banner
                    img.banner__img(src="img/konsultacii.jpg" alt="юридические консультации")
                    .banner__info
                        h3.banner__title 5 причин обратиться к нам:
                        ul.banner__list
                            li Опыт ежедневной работы по семейному праву
                            li Оплата услуг в рассрочку
                            li Узкая специализация – семейные споры
                            li Доступная и фиксированная цена
                            li Возможна консультация в вечернее время и выходные дни

                .txt-block
                    p Юридический центр &laquo;Право и&nbsp;семья&raquo; оказывает услуги по&nbsp;семейным делам:
                    ul.list
                        li Консультация
                        li Составления исковых заявлений и&nbsp;других юридически значимых документов
                        li Представительство в&nbsp;суде (возможен разовый выход)
                        li Ведение дела с&nbsp;начала и&nbsp;до&nbsp;вынесения судом решения
                        li Заочное ведение дела
                        li Обжалование судебных решений
                    p Поручив ведение семейного дела в&nbsp;суде юристам центра &laquo;Право и&nbsp;Семья&raquo;, Вы&nbsp;получаете ряд преимуществ:
                    ul.num-list
                        li Грамотная юридическая консультация
                        li Составление иска и&nbsp;подготовка пакета документов в&nbsp;самые короткие сроки
                        li Еженедельный отчет о&nbsp;проделанной работе
                        li Максимальные шансы выиграть дело
                        li Общение с&nbsp;ответчиком для Вас будет сведено к&nbsp;минимуму
                    p Итогом нашей работы будет решение суда с&nbsp;максимально благоприятным для Вас результатом.

                    .tag-block
                        .tag-block__title Теги:
                        .tag-block__container
                            span.tag-block__item Семейный юрист,
                            span.tag-block__item Семейный адвокат,
                            span.tag-block__item Юридическая помощь,
                            span.tag-block__item Судебное представительство,
                            span.tag-block__item Консультация юриста

                .accent-block
                    .accent-block__txt Стоимость юридических услуг признается судебными расходами и
                        | &nbsp;подлежит взысканию с&nbsp;проигравшей стороны

            aside.content__col.content__col_sm
                .add-block
                    .add-block__title  Стоимость услуг
                    .add-block__price
                        .add-block__price-row.add-block__price-row_name
                            | Консультация в&nbsp;офисе (по&nbsp;предварительной записи)
                        .add-block__price-row.add-block__price-row_cost
                            | 500 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Составление искового заявления
                        .add-block__price-row.add-block__price-row_cost
                            | от 1 500 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Расторжение брака в&nbsp;суде
                        .add-block__price-row.add-block__price-row_cost
                            | от 5 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Раздел имущества супругов
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Взыскание алиментов
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение места жительства ребенка с&nbsp;одним из&nbsp;родителей
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение порядка общения с&nbsp;ребенком
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Установление/Оспаривание отцовства
                        .add-block__price-row.add-block__price-row_cost
                            | от 12 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Лишение родительских прав
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Снятие с&nbsp;регистрационного учета бывших членов семьи
                        .add-block__price-row.add-block__price-row_cost
                            | от 8 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Определение порядка пользования жилым помещением
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Споры о&nbsp;наследстве
                        .add-block__price-row.add-block__price-row_cost
                            | от 10 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Участие в&nbsp;суде апелляционной инстанции
                        .add-block__price-row.add-block__price-row_cost
                            | 5 000 ₽
                        .add-block__price-row.add-block__price-row_name
                            | Составление апелляционной или кассационной жалобы
                        .add-block__price-row.add-block__price-row_cost
                            | 5 000 ₽
                    a.add-block__price-link(href="price.html") Посмотреть все цены

    include inc/contact-block.html