extends inc/base

block title
    title= 'Консультация юриста | Центр Право и Семья'
    meta(name='description' content='Раздел имущества, развод, алименты, отцовство. Правовая помощь по семейным делам - консультации, судебное представительство, составление исков и документов')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col
                .banner
                    img.banner__img(src="img/lawyer.jpg" alt="юридические консультации")
                    .banner__info
                        h1.banner__title Юридические консультации, судебное представительство
                        h2.banner__subtitle Опыт 12 лет, 95% побед в суде

                .txt-block
                    p Если Вы&nbsp;ищете юриста&nbsp;&mdash; специалиста именно по&nbsp;семейным делам, то&nbsp;Вы попали в&nbsp;нужную компанию. Более 12&nbsp;лет наши юристы ежедневно решают самые сложные и&nbsp;запутанные случаи, возникающие в&nbsp;юридической практике, консультируют и&nbsp;участвуют в&nbsp;судебных заседаниях, с&nbsp;успехом добиваются справедливых и&nbsp;законных решений.
                    p Порядок взаимодействия:
                    p
                        b Встреча (консультация).<br>
                        | На&nbsp;встрече будут установлены обстоятельства конкретного дела, проанализированы документы. На&nbsp;основании этого будет сделан вывод о&nbsp;перспективах дела.
                    p
                        b Подготовка искового заявления.<br>
                        | При подготовке иска подбираются нормы закона, на&nbsp;основании которых формируются исковые требования. Изучается судебная практика (Постановления Пленума ВС&nbsp;РФ, примеры аналогичных дел в&nbsp;Пермском крае и&nbsp;по&nbsp;России), формируется доказательная база, составляются необходимые ходатайства, рассчитывается сумма государственной пошлины, определяется подсудность дела. После подготовки исковое заявление с&nbsp;приложениями подается в&nbsp;суд.
                    p
                        b Судебное представительство.<br>
                        | Юрист присутствует на&nbsp;всех судебных заседаниях до&nbsp;вынесения судом решения. Участие юриста в&nbsp;судебных заседаниях возможно в&nbsp;Ваше отсутствие. Для этого достаточно выдать доверенность на&nbsp;ведение дела и&nbsp;не&nbsp;испытывать стресс от&nbsp;участия в&nbsp;суде.
                    p
                        b Поэтапная оплата услуг.<br>
                        | Оплата услуг производится в&nbsp;рассрочку. Сумма делится на&nbsp;2&nbsp;&mdash; 3&nbsp;платежа. При заключении договора уплачивается аванс, и&nbsp;юрист (адвокат) по&nbsp;семейному делу незамедлительно приступает к&nbsp;работе. Уплаченная сумма признается судебными расходами и&nbsp;взыскивается с&nbsp;проигравшей стороны.
                    p Обращайтесь в&nbsp;Юридический центр &laquo;Право и&nbsp;Семья&raquo;, где Вам обязательно помогут.


                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Моя коллега взыскивала с&nbsp;мужа алименты в&nbsp;районном суде. Я&nbsp;тоже обращалась с&nbsp;иском об&nbsp;алиментах в&nbsp;районный суд, но&nbsp;мне вернули заявление и&nbsp;сказали, что дела по&nbsp;алиментам рассматривает мировой судья. Я&nbsp;не&nbsp;могу понять почему. Чем отличается Мировой суд от&nbsp;районного суда?
                    .faq-block__answer
                        p Мировой судья и&nbsp;районный суд отличаются подсудностью дел.
                        p Мировой судья рассматривает в&nbsp;качестве суда первой инстанции:
                        ul.list
                            li дела о&nbsp;выдаче судебного приказа;
                            li дела о&nbsp;расторжении брака, если между супругами отсутствует спор о&nbsp;детях;
                            li дела о&nbsp;разделе между супругами совместно нажитого имущества при цене иска, не&nbsp;превышающей пятидесяти тысяч рублей;
                            li иные возникающие из&nbsp;семейно-правовых отношений дела, за&nbsp;исключением дел об&nbsp;оспаривании отцовства (материнства), об&nbsp;установлении отцовства, о&nbsp;лишении родительских прав, об&nbsp;ограничении родительских прав, об&nbsp;усыновлении (удочерении) ребенка, других дел по&nbsp;спорам о&nbsp;детях и&nbsp;дел о&nbsp;признании брака недействительным;
                            li дела об&nbsp;определении порядка пользования имуществом.
                        p Гражданские дела, подведомственные судам, за&nbsp;исключением некоторых категорий дел, рассматриваются районным судом в&nbsp;качестве суда первой инстанции.
                        p При объединении нескольких связанных между собой требований, изменении предмета иска или предъявлении встречного иска, если новые требования становятся подсудными районному суду, а&nbsp;другие остаются подсудными мировому судье, все требования подлежат рассмотрению в&nbsp;районном суде. В&nbsp;этом случае, если подсудность дела изменилась в&nbsp;ходе его рассмотрения у&nbsp;мирового судьи, мировой судья выносит определение о&nbsp;передаче дела в&nbsp;районный суд и&nbsp;передает дело на&nbsp;рассмотрение в&nbsp;районный суд.
                        p Скорее всего, Ваша коллега наравне с&nbsp;требованиями о&nbsp;взыскании алиментов заявляла еще требования, которые подсудны районному суду.

                    .faq-block__question.js-faq Где можно узнать сумму государственной пошлины для подачи заявления в&nbsp;суд?
                    .faq-block__answer
                        p Положения о&nbsp;размерах государственной пошлины предусмотрены главой 25.3 Налогового кодекса РФ.

                    .faq-block__question.js-faq Где и&nbsp;как можно уплатить государственную пошлину в&nbsp;суд?
                    .faq-block__answer
                        p Уплатить сумму пошлины можно по&nbsp;реквизитам суда через банк. Реквизиты суда можно взять на&nbsp;официальном сайте суда. Можно произвести оплату через банкомат. Во&nbsp;многих банкоматах информация о&nbsp;реквизитах судов имеется. Реквизиты Мирового суда совпадают с&nbsp;реквизитами соответствующего районного суда. Для уплаты государственной пошлины требуется ИНН.

                    .faq-block__question.js-faq Что относится к&nbsp;судебным расходам?
                    .faq-block__answer
                        p Закон к&nbsp;судебным расходам относит:
                        ul.list
                            li Суммы, подлежащие выплате свидетелям, экспертам, специалистам и&nbsp;переводчикам;
                            li Расходы на&nbsp;проезд и&nbsp;проживание сторон и&nbsp;третьих лиц, понесенные ими в&nbsp;связи с&nbsp;явкой в&nbsp;суд;
                            li Расходы на&nbsp;оплату услуг представителей;
                            li Расходы на&nbsp;производство осмотра на&nbsp;месте;
                            li Компенсация за&nbsp;фактическую потерю времени в&nbsp;соответствии со&nbsp;статьей 99&nbsp;настоящего Кодекса;
                            li Связанные с&nbsp;рассмотрением дела почтовые расходы, понесенные сторонами;
                            li Другие признанные судом необходимыми расходы.

                    .faq-block__question.js-faq Сколько по&nbsp;времени длится судебный процесс в&nbsp;целом?
                    .faq-block__answer
                        p Судебный процесс в&nbsp;целом (от&nbsp;подачи иска до&nbsp;вынесения судом решения) может занимать от&nbsp;1,5 месяцев до&nbsp;5&nbsp;месяцев и&nbsp;более. Речь идет о&nbsp;фактически затраченном времени. Продолжительность процесса связана со&nbsp;многими факторами: неявка сторон в&nbsp;процесс, назначение экспертизы, допрос свидетелей, ходатайства об&nbsp;отложении дела и&nbsp;т.д. В&nbsp;последнее время силы прилагают все усилия, что&nbsp;бы в&nbsp;максимально короткие сроки рассмотреть дело с&nbsp;соблюдением норм процессуального и&nbsp;материального права.

                    .faq-block__question.js-faq Можно&nbsp;ли не&nbsp;ходить на&nbsp;судебные заседания? Какая ответственность за&nbsp;неявку в&nbsp;суд предусмотрена?
                    .faq-block__answer
                        p В&nbsp;суд можно не&nbsp;являться. Ответственности за&nbsp;это не&nbsp;предусмотрено. Но&nbsp;существует большая вероятность того, что суд примет решение, которое не&nbsp;удовлетворит ответчика. Например, устанавливается отцовство, а&nbsp;ответчик в&nbsp;суд не&nbsp;является. Может оказаться так, что в&nbsp;скором времени этот ответчик получит исполнительный лист о&nbsp;взыскании алиментов.
                        p Если&nbsp;же в&nbsp;суд по&nbsp;вторичному вызову не&nbsp;явится истец, то&nbsp;заявление оставят без рассмотрения.
                        p Естественно, речь идет о&nbsp;случаях, когда все стороны процесса уведомлены о&nbsp;месте и&nbsp;времени судебного разбирательства.
                        p Если нет желания или возможности посещать судебные заседания, можно выдать доверенность своему представителю (лучше, что&nbsp;бы представителем был юрист по&nbsp;семейным делам), который проведет весь процесс в&nbsp;Ваше отсутствие.

                    .faq-block__question.js-faq Что дает юридическая консультация?
                    .faq-block__answer
                        p Консультация&nbsp;&mdash; это первичная юридическая помощь. Юридическая логика имеет свои аспекты, и&nbsp;у&nbsp;человека, который никогда не&nbsp;сталкивался с&nbsp;юриспруденцией, никогда не&nbsp;будет целостной картины решения своей проблемы.
                        p Прочитав закон, и&nbsp;самостоятельно защищая права, люди часто получают решение суда, на&nbsp;которое не&nbsp;рассчитывали. Помимо законов существуют еще подзаконные акты, судебная практика, разъяснения Пленумов Верховного суда РФ. Семейный юрист знает, как решается тот или иной вопрос именно в&nbsp;суде (судебная практика), разбирается в&nbsp;тонкостях судопроизводства.
                        p Консультация семейного юриста даст Вам представление о&nbsp;Вашей проблеме и&nbsp;о&nbsp;способах ее&nbsp;решении. Будет представление о&nbsp;перспективах дела. Скорее всего, окажется, что Вашу проблему можно решить проще, чем&nbsp;Вы себе представляли или Ваше мнение кардинально изменится после консультации.

                    .faq-block__question.js-faq Муж прописан в&nbsp;Свердловском районе, а&nbsp;живет в&nbsp;Ленинском. Мне надо подать иск на&nbsp;расторжение брака. В&nbsp;какой суд мне обращаться?
                    .faq-block__answer
                        p Иск предъявляется в&nbsp;суд по&nbsp;месту жительства ответчика. Местом жительства является место, где человек постоянно или преимущественно проживает. Таким образом, иск подается в&nbsp;суд Ленинского района. Но&nbsp;если в&nbsp;последующем окажется, что ответчик сменил место жительства, то&nbsp;суд вынесет определение о&nbsp;направлении дела по&nbsp;территориальности.

            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Юрист. Помощь в суде
                //        li
                //            a(href="#") Юридическая консультация
                //        li
                //            a(href="#") Профессиональная защита в суде
                //        li
                //            a(href="#") Зачем нужна консультация семейного юриста
                //        li
                //            a(href="#") Семейный адвокат
                //        li
                //            a(href="#") Этапы судебного процесса
                //        li
                //            a(href="#") Для чего нужна консультация
                //        li
                //            a(href="#") Сам себе юрист
                //        li
                //            a(href="#") Взыскание судебных расходов

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html