extends inc/base

block title
    title= 'Лишение родительских прав'

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/lishenie-roditelskih-prav.jpg" alt="лишение родительских прав")
                    .banner__info
                        h1.banner__title Лишение родительских прав
                        p.banner__txt Защитим права ребёнка

                .txt-block
                    p Консультации и&nbsp;судебное представительство лишению родительских прав, если родитель:
                    ul.list
                        li не&nbsp;платит алименты
                        li злоупотребляет своими правами
                        li жестоко обращается с&nbsp;детьми
                        li не&nbsp;воспитывает ребенка и&nbsp;не&nbsp;дает согласие на&nbsp;усыновление

                    p Лишить родительских прав можно только в&nbsp;судебном порядке. Такие дела подсудны районному суду с&nbsp;обязательным участием прокуратуры и&nbsp;органов опеки и&nbsp;попечительства.
                    p Важно, прежде всего, соблюдение прав ребенка. Лишение родительских прав&nbsp;&mdash; это не&nbsp;наказание нерадивого родителя, а&nbsp;мера защиты физического и&nbsp;психологического здоровья маленького человека, а&nbsp;так&nbsp;же ограждение его от&nbsp;негативного влияния мамы или папы.
                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; имеют большой опыт в&nbsp;судебных процессах о&nbsp;лишении родительских прав. Все решения, принятые с&nbsp;нашим участием в&nbsp;суде, законны и&nbsp;обоснованы. Задача юриста&nbsp;&mdash; это защита ребенка, соблюдение его прав и&nbsp;интересов.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Чем отличается лишение родительских прав от&nbsp;ограничения в&nbsp;родительских правах?
                    .faq-block__answer
                        p Ограничение родительских прав более мягкая мера по&nbsp;сравнению с&nbsp;лишением и&nbsp;выступает предупреждением родителям о&nbsp;перемене своего поведения и&nbsp;методах воспитания ребенка.
                        p Суд может с&nbsp;учетом интересов ребенка принять решение об&nbsp;отобрании ребенка у&nbsp;родителей без лишения их&nbsp;родительских прав, то&nbsp;есть ограничить в&nbsp;родительских правах.
                        p Ограничение родительских прав допускается, если оставление ребенка с&nbsp;родителями или одним из&nbsp;них опасно для ребенка по&nbsp;обстоятельствам, не&nbsp;зависящим от&nbsp;родителей, например: психическое расстройство или иное хроническое заболевание, стечение тяжелых обстоятельств и&nbsp;другие причины. Так&nbsp;же можно ограничить в&nbsp;родительских правах в&nbsp;случаях, если оставление ребенка с&nbsp;родителями (одним из&nbsp;них) вследствие их&nbsp;поведения является опасным для ребенка, но&nbsp;нет достаточных оснований для лишения родительских прав. Если в&nbsp;течение 6&nbsp;месяцев родители не&nbsp;изменят своего поведения, то&nbsp;орган опеки и&nbsp;попечительства предъявит иск о&nbsp;лишении родительских прав. В&nbsp;интересах ребенка орган опеки и&nbsp;попечительства вправе предъявить иск о&nbsp;лишении родительских прав до&nbsp;истечения этого срока.
                        p Родители, родительские права которых ограничены судом, утрачивают право на&nbsp;личное воспитание ребенка, а&nbsp;также право на&nbsp;льготы и&nbsp;государственные пособия, установленные для граждан, имеющих детей.
                        p Родителю, родительские права которого ограничены судом, могут быть разрешены контакты с&nbsp;ребенком, если это не&nbsp;оказывает на&nbsp;ребенка вредного влияния.
                        p Родители (один из&nbsp;них) могут быть лишены родительских прав, если они:
                        ul.list
                            li уклоняются от&nbsp;выполнения обязанностей родителей, в&nbsp;том числе при злостном уклонении от&nbsp;уплаты алиментов;
                            li отказываются без уважительных причин взять своего ребенка из&nbsp;родильного дома (отделения) либо из&nbsp;иной медицинской организации, образовательной организации, организации социального обслуживания или из&nbsp;аналогичных организаций;
                            li злоупотребляют своими родительскими правами;
                            li жестоко обращаются с&nbsp;детьми, в&nbsp;том числе осуществляют физическое или психическое насилие над ними, покушаются на&nbsp;их&nbsp;половую неприкосновенность;
                            li являются больными хроническим алкоголизмом или наркоманией;
                            li совершили умышленное преступление против жизни или здоровья своих детей, другого родителя детей, супруга, в&nbsp;том числе не&nbsp;являющегося родителем детей, либо против жизни или здоровья иного члена семьи.

                    .faq-block__question.js-faq Мой бывший муж вышел из&nbsp;тюрьмы и&nbsp;хочет общаться с&nbsp;нашим восьмилетним сыном. Я&nbsp;не&nbsp;хочу такого общения, так как я&nbsp;вышла замуж, у&nbsp;меня родился еще один ребенок. Можно&nbsp;ли мне лишить родительских прав отца, чтобы он&nbsp;не&nbsp;общался с&nbsp;сыном?
                    .faq-block__answer
                        p Закон не&nbsp;предусматривает лишения родительских прав на&nbsp;основании того, что родитель отбывал наказание (если он&nbsp;не&nbsp;совершил умышленное преступление против жизни или здоровья ребенка, в&nbsp;отношении Вас или иного члена семьи).
                        p Вам лучше поговорить с&nbsp;бывшим мужем, объяснить ситуацию, узнать мнение ребенка&nbsp;&mdash; хочет&nbsp;ли он&nbsp;общения. Важно соблюдать интересы ребенка. Если ребенок не&nbsp;хочет, а&nbsp;отец настаивает на&nbsp;общении, то&nbsp;Вы вправе не&nbsp;давать ребенка отцу, так как это противоречит интересам ребенка. Так&nbsp;же необходимо обратиться с&nbsp;заявлением в&nbsp;органы опеки и&nbsp;попечительства с&nbsp;заявлением. Если отец подаст иск в&nbsp;суд об&nbsp;определении порядка общения с&nbsp;ребенком, Ваше заявление послужит доказательством причин, по&nbsp;которым вы&nbsp;не&nbsp;давали видеться с&nbsp;ребенком.
                        p Если&nbsp;же сын желает общаться с&nbsp;папой, то&nbsp;закон на&nbsp;стороне Вашего бывшего мужа. Можно в&nbsp;суде определить порядок общения отца с&nbsp;ребенком.
                        p Прежде чем предпринимать какие&nbsp;&mdash; либо действия проконсультируйтесь с&nbsp;семейным юристом.

                    .faq-block__question.js-faq Сын живет со&nbsp;мной. Его мать не&nbsp;принимает никакого участия в&nbsp;воспитании сына. На&nbsp;алименты не&nbsp;подавал. Хочу лишить ее&nbsp;родительских прав, что&nbsp;бы я&nbsp;мог вывозить сына за&nbsp;границу без ее&nbsp;согласия. С&nbsp;чего мне начать?
                    .faq-block__answer
                        p Если Ваша задача только выезд за&nbsp;границу с&nbsp;ребенком, то&nbsp;для этого нет необходимости лишать мать родительских прав. В&nbsp;настоящее время для выезда с&nbsp;ребенком за&nbsp;границу согласие второго родителя не&nbsp;требуется. Если сын поедет в&nbsp;сопровождении третьих лиц, для этого достаточно Вашего согласия.
                        p Если&nbsp;же причины для лишения родительских прав иные, то&nbsp;просто так вы&nbsp;лишить мать ребенка родительских прав не&nbsp;сможете, для этого должны быть основания, например, если мать:
                        ul.list
                            li уклоняется от&nbsp;выполнения обязанностей родителя, например не&nbsp;платит алименты по&nbsp;решению суда;
                            li злоупотребляет своими родительскими правами: умышленно создает препятствия в&nbsp;обучении ребенка, побуждает ребенка к&nbsp;попрошайничеству или воровству, к&nbsp;употреблению спиртных напитков или наркотических средств и&nbsp;т.д.
                            li жестоко обращается с&nbsp;ребенком;
                            li является больными хроническим алкоголизмом или наркоманией;

                    .faq-block__question.js-faq Отец ребенка алименты не&nbsp;платит, с&nbsp;сыном не&nbsp;общается. Можно&nbsp;ли мне лишить его родительских прав?
                    .faq-block__answer
                        p Да, такая возможность есть. Злостное уклонение от&nbsp;уплаты алиментов является основанием для лишения родительских прав. Для этого необходимо обратиться в&nbsp;суд с&nbsp;соответствующим исковым требованием. Процесс лишения родительских прав не&nbsp;прост. Важно доказать суду необходимость лишения родительских прав. Иначе Вы&nbsp;проиграете суд. Такой процесс лучше доверить юристу по&nbsp;семейным делам. Юрист выяснит причины, по&nbsp;которым&nbsp;Вы хотите лишить прав отца. Может в&nbsp;Вашей ситуации надо действовать другим способом или заявлять другие требования, а&nbsp;может вообще можно обойтись без судебного разбирательства.

                    .faq-block__question.js-faq Мой бывший муж живет отдельно. Периодически он&nbsp;приходит, забирает сына, когда хочет. Если я&nbsp;не&nbsp;пускаю, то&nbsp;он&nbsp;бьет меня. Как мне следует поступить? Можно&nbsp;ли мне лишить его родительских прав?
                    .faq-block__answer
                        p Вам надо написать заявление в&nbsp;полицию о&nbsp;возбуждении уголовного дела по&nbsp;факту побоев. Если уголовное дело возбудят и&nbsp;бывшего мужа осудят, то&nbsp;будет возможность лишить его родительских прав.
                        p Так&nbsp;же необходимо обратиться с&nbsp;иском о&nbsp;взыскании алиментов. Если отец будет уклоняться от&nbsp;уплаты алиментов, то&nbsp;так&nbsp;же есть возможность лишить отца родительских прав.
                        p Еще необходимо выяснить мнение ребенка&nbsp;&mdash; хочет он&nbsp;видеться с&nbsp;отцом или нет.
                        p Если вы&nbsp;приняли решение, что будете инициировать судебный процесс об&nbsp;ограничении или лишении отца прав, то&nbsp;Вам понадобится помощь юриста по&nbsp;семейным делам.

                    .faq-block__question.js-faq Моя племянница сбежала от&nbsp;своего отца, так как он&nbsp;ее&nbsp;неоднократно избивал и&nbsp;обращался с&nbsp;ней жестоко. Мать (моя сестра) умерла 2&nbsp;года назад. Племянница теперь живет у&nbsp;меня. Я&nbsp;оформила временную опеку. Я&nbsp;хочу, что&nbsp;бы ребенок жил у&nbsp;меня. Могу&nbsp;ли я&nbsp;лишить отца родительских прав?
                    .faq-block__answer
                        p Да, можете. Даже необходимо. Вам надо обратиться в&nbsp;суд с&nbsp;исковым заявлением. В&nbsp;суде будут принимать участие прокуратура и&nbsp;органы опеки и&nbsp;попечительства. Если факты жестокого обращения подтвердятся, то&nbsp;суд удовлетворит Ваши требования. После этого&nbsp;Вы сможете оформить постоянную опеку над племянницей.

                    .faq-block__question.js-faq Хочу лишить отца ребенка родительских прав, так как он&nbsp;не&nbsp;платит алименты. Должен&nbsp;ли он&nbsp;выплатить мне долг по&nbsp;алиментам и&nbsp;сохранится&nbsp;ли обязанность дальше мне их&nbsp;платить?
                    .faq-block__answer
                        p В&nbsp;соответствии с&nbsp;Семейным кодексом лишение родительских прав не&nbsp;освобождает отца от&nbsp;погашения долга по&nbsp;алиментам и&nbsp;от&nbsp;выплаты их&nbsp;в&nbsp;дальнейшем.

            aside.content__col.content__col_sm
                .add-block.add-block_article
                    h3.add-block__title Статьи по теме
                    ul.article-list
                        li
                            a(href="#") Адвокат по лишению родительских прав
                        li
                            a(href="#") Восстановление в родительских правах
                        li
                            a(href="#") Лишение родительских прав матери
                        li
                            a(href="#") Юрист по лишению родительских прав
                        li
                            a(href="#") Последствия лишения родительских прав
                        li
                            a(href="#") Ограничение в родительских правах
                        li
                            a(href="#") В каких случаях можно лишить родительских прав
                        li
                            a(href="#") Злоупотребление родительскими правами

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html