extends inc/base

block title
    title= 'Наследственные споры'

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/nasledstvennye-spory.jpg" alt="наследственные споры")
                    .banner__info
                        h1.banner__title Наследственные дела
                        p.banner__txt Грамотно и быстро поможем решить спор

                .txt-block
                    p Консультации и&nbsp;судебное представительство по&nbsp;наследственным спорам:
                    ul.list
                        li вступление в&nbsp;наследство после пропуска срока
                        li оспаривание завещания
                        li иные споры, вытекающие из&nbsp;наследственных отношений

                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; имеют большой опыт в&nbsp;судебных процессах по&nbsp;наследственным делам.
                    p Наследственные дела&nbsp;&mdash; это всегда дела &laquo;деликатные&raquo;, так как это практически всегда споры между родственниками, чаще всего кровными родственниками. Юристы по&nbsp;семейным спорам разберутся в&nbsp;Вашем деле, установят все обстоятельства, дадут правовую оценку этим обстоятельствам, расскажут Вам перспективы дела.
                    p Обращайтесь в&nbsp;нашу компанию, и&nbsp;мы&nbsp;Вам гарантируем грамотную юридическую помощь

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Папа умер, оставил завещание на&nbsp;сестру. Я&nbsp;думаю, что сестра папу обманула, сам он&nbsp;мог не&nbsp;понимать, что делает. Последние 10&nbsp;лет он&nbsp;сильно болел, перенес инсульт, практически не&nbsp;ходил. Как можно оспорить завещание?
                    .faq-block__answer
                        p Завещание может быть признано судом недействительным по&nbsp;иску лица, права или законные интересы которого нарушены этим завещанием. Оспаривание завещания до&nbsp;открытия наследства не&nbsp;допускается. Не&nbsp;могут служить основанием недействительности завещания описки и&nbsp;другие незначительные нарушения порядка его составления, подписания или удостоверения, если судом установлено, что они не&nbsp;влияют на&nbsp;понимание волеизъявления завещателя.
                        p Оспорить завещание&nbsp;&mdash; дело сложное. Для отмены должны быть веские основания. Завещание относится к&nbsp;односторонним сделкам (в&nbsp;юриспруденции есть такое понятие), соответственно, применяются нормы гражданского права о&nbsp;недействительности сделок.
                        p Сделка, совершенная гражданином, хотя и&nbsp;дееспособным, но&nbsp;находившимся в&nbsp;момент ее&nbsp;совершения в&nbsp;таком состоянии, когда он&nbsp;не&nbsp;был способен понимать значение своих действий или руководить ими, может быть признана судом недействительной по&nbsp;иску этого гражданина либо иных лиц, чьи права или охраняемые законом интересы нарушены в&nbsp;результате ее&nbsp;совершения.
                        p Таким образом, Вам предстоит доказать, что папа в&nbsp;момент совершения завещания не&nbsp;мог отдавать отчет своим действиям. Факт болезни, инсульта, обездвиженности не&nbsp;влияет на&nbsp;правомерность сделки. Только наличие психического расстройства, при котором человек не&nbsp;осознает своих действий, может служить поводом для отмены завещания. В&nbsp;судебном процессе придется назначать посмертную психиатрическую экспертизу. От&nbsp;результатов экспертизы в&nbsp;совокупности с&nbsp;другими доказательствами будет зависеть принятие судом решения.

                    .faq-block__question.js-faq Моя мама умерла 5&nbsp;лет назад. После ее&nbsp;смерти осталась квартира, в&nbsp;которой я&nbsp;живу до&nbsp;сих пор. К&nbsp;нотариусу я&nbsp;не&nbsp;обращалась, в&nbsp;наследство не&nbsp;вступила. Могу&nbsp;ли я&nbsp;теперь оформить квартиру на&nbsp;себя?
                    .faq-block__answer
                        p Вступить в&nbsp;наследство можно двумя путями: подать заявление нотариусу или фактически принять наследство. Принятое наследство признается принадлежащим наследнику со&nbsp;дня открытия наследства независимо от&nbsp;времени его фактического принятия, а&nbsp;также независимо от&nbsp;момента государственной регистрации права наследника на&nbsp;наследственное имущество, когда такое право подлежит государственной регистрации.
                        p Признается, пока не&nbsp;доказано иное, что наследник принял наследство, если он&nbsp;совершил действия, свидетельствующие о&nbsp;фактическом принятии наследства, в&nbsp;частности если наследник:
                        ul.list
                            li вступил во&nbsp;владение или в&nbsp;управление наследственным имуществом;
                            li принял меры по&nbsp;сохранению наследственного имущества, защите его от&nbsp;посягательств или притязаний третьих лиц;
                            li произвел за&nbsp;свой счет расходы на&nbsp;содержание наследственного имущества;
                            li оплатил за&nbsp;свой счет долги наследодателя или получил от&nbsp;третьих лиц причитавшиеся наследодателю денежные средства.
                        p Таким образом, необходимо обратиться в&nbsp;суд. При правильных юридических действиях&nbsp;Вы сможете оформить квартиру в&nbsp;свою собственность.

                    .faq-block__question.js-faq У&nbsp;нас с&nbsp;мужем трое детей. У&nbsp;моего мужа есть ребенок вне брака. Я&nbsp;хочу, что&nbsp;бы все, что мы&nbsp;с&nbsp;мужем вдвоем копили и&nbsp;наживали, досталось моим детям. Я&nbsp;сказала мужу, что&nbsp;бы он&nbsp;написал завещание. Можно как&nbsp;&mdash; то&nbsp;обезопасить себя и&nbsp;лишить малолетнего ребенка наследства?
                    .faq-block__answer
                        p Все что вы&nbsp;нажили с&nbsp;Вашим мужем в&nbsp;браке, является общей совместной собственностью. Доли супругов равные. Каждый своей долей распоряжается так, как считает нужным. Если Ваш муж согласен с&nbsp;Вами, то&nbsp;есть несколько вариантов.
                        ol.num-list
                            li Без завещания. Составить соглашение о&nbsp;разделе имущества, согласно которому все имущество принадлежит жене. Но, в&nbsp;случае развода, муж останется без имущества. Так&nbsp;же можно заключить брачный договор, в&nbsp;котором прописать имущественные права супругов. Путь не&nbsp;идеален, так как всегда есть возможность оспорить соглашение или брачный договор. Это не&nbsp;так просто, но&nbsp;все&nbsp;же такой вариант исключать нельзя.
                            li Совершить сделку дарения детям. В&nbsp;этом случае дети становятся собственниками. В&nbsp;случае смерти отца это имущество не&nbsp;будет в&nbsp;числе наследственной массы.
                            li Составить завещание на&nbsp;детей. Следует учесть, если муж умрет раньше срока достижения внебрачным ребенком возраста 18&nbsp;лет, то&nbsp;ребенку положена обязательная доля в&nbsp;наследстве. Несовершеннолетние или нетрудоспособные дети наследодателя, а&nbsp;также нетрудоспособные иждивенцы наследодателя, наследуют независимо от&nbsp;содержания завещания не&nbsp;менее половины доли, которая причиталась&nbsp;бы каждому из&nbsp;них при наследовании по&nbsp;закону.

                    .faq-block__question.js-faq У&nbsp;меня умерла родная сестра. У&nbsp;сестры есть сын, но&nbsp;он&nbsp;живет в&nbsp;другом городе, с&nbsp;матерью практически не&nbsp;общался, не&nbsp;ухаживал за&nbsp;ней, никак не&nbsp;помогал. Десять лет о&nbsp;матери не&nbsp;заботился, а&nbsp;она очень переживала и&nbsp;просила его приехать в&nbsp;гости. В&nbsp;основном за&nbsp;сестрой ухаживала я&nbsp;и&nbsp;моя дочь. Сестра говорила, что отдаст свою квартиру моей дочери&nbsp;&mdash; это слышали и&nbsp;могут подтвердить соседи и&nbsp;знакомые. После смерти сестры появился ее&nbsp;сын, сказал, что&nbsp;бы мы&nbsp;квартиру освободили, так как он&nbsp;наследник. Но&nbsp;сестра квартиру обещала мне. Я&nbsp;хочу обратиться в&nbsp;суд и&nbsp;отсудить квартиру у&nbsp;племянника. Как мне это правильно сделать?
                    .faq-block__answer
                        p В&nbsp;данном случае, если нет завещания, отсудить квартиру у&nbsp;сына невозможно, так сын наследник первой очереди. Несмотря на&nbsp;то, что он&nbsp;с&nbsp;матерью не&nbsp;общался и&nbsp;не&nbsp;помогал&nbsp;ей, этот факт не&nbsp;лишает его наследства. Ваша помощь сестре и&nbsp;помощь Вашей дочери никак на&nbsp;приобретение права собственности после умершей сестры не&nbsp;влияет.

                    .faq-block__question.js-faq У&nbsp;меня умерла мама 3&nbsp;года назад.&nbsp;2&nbsp;месяца назад умерла бабушка (мамина мама). У&nbsp;бабушки есть сын (мой дядя). Я&nbsp;прочитал, что наследник первой очереди&nbsp;&mdash; это дети, муж и&nbsp;родители. Получается, что дядя является единственным наследником. Скажите, пожалуйста, я&nbsp;имею какие&nbsp;&mdash; нибудь права на&nbsp;наследство?
                    .faq-block__answer
                        p Да, безусловно&nbsp;Вы имеете право на&nbsp;наследство наравне с&nbsp;дядей. Вы&nbsp;вступаете в&nbsp;наследство вместо своей матери. В&nbsp;Гражданском праве&nbsp;&mdash; это называется наследование по&nbsp;праву представления. Это значит, что доля наследника по&nbsp;закону, умершего до&nbsp;открытия наследства или одновременно с&nbsp;наследодателем, переходит по&nbsp;праву представления к&nbsp;его соответствующим потомкам и&nbsp;делится между ними поровну.
                        p Внуки наследодателя и&nbsp;их&nbsp;потомки наследуют по&nbsp;праву представления.
                        p Таким образом, Вы&nbsp;наследуете после смерти бабушки по&nbsp;праву представления (то&nbsp;есть вместо своей мамы).

            aside.content__col.content__col_sm
                .add-block.add-block_article
                    h3.add-block__title Статьи по теме
                    ul.article-list
                        li
                            a(href="#") Наследование
                        li
                            a(href="#") Наследство. Если пропущен срок
                        li
                            a(href="#") Обжалование действий нотариуса
                        li
                            a(href="#") Обязательная доля в наследстве
                        li
                            a(href="#") Для чего составлять завещание
                        li
                            a(href="#") Как оспорить завещание
                        li
                            a(href="#") Как лишить наследства

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html