extends inc/base

block title
    title= 'Стоимость юридических услуг по семейным делам | Центр Право и Семья'
    meta(name='description' content='Консультации и судебное представительство по семейным спорам. Доступные цены, оплата услуг в рассрочку, цена фиксируется в договоре')

block content

    section.content-wrap
        .container
            h1.section-title.section-title_in-content.section-title_no-mrg Стоимость услуг<br>
                | <span>Услуги оплачиваются поэтапно</span>
            .txt-block
                table.price-tbl
                    tr
                        td Консультация в офисе (по предварительной записи)
                        td 500 ₽
                    tr
                        td Составление искового заявления
                        td от 1 500 ₽
                    tr
                        td Расторжение брака в суде
                        td от 5 000 ₽
                    tr
                        td Раздел имущества супругов
                        td от 10 000 ₽
                    tr
                        td Взыскание алиментов
                        td от 8 000 ₽
                    //tr
                    //    td Уменьшение размера алиментов
                    //    td от 10 000 ₽
                    tr
                        td Определение места жительства ребенка с&nbsp;одним из родителей
                        td от 8 000 ₽
                    tr
                        td Определение порядка общения с ребенком
                        td от 8 000 ₽
                    tr
                        td Установление/Оспаривание отцовства
                        td от 12 000 ₽
                    tr
                        td Лишение родительских прав
                        td от 10 000 ₽
                    tr
                        td Снятие с&nbsp;регистрационного учета бывших членов семьи
                        td от 8 000 ₽
                    tr
                        td Определение порядка пользования жилым помещением
                        td от 10 000 ₽
                    tr
                        td Споры о наследстве
                        td от 10 000 ₽
                    tr
                        td Участие в суде апелляционной инстанции
                        td 5 000 ₽
                    tr
                        td Составление апелляционной или кассационной жалобы
                        td 5 000 ₽

                p Оплата услуг осуществляется в&nbsp;рассрочку.
                    p Стоимость услуг может варьироваться в&nbsp;зависимости от&nbsp;особенностей и&nbsp;сложности дела.
                    p Цены указаны за&nbsp;услуги в&nbsp;г. Перми.
                    p Стоимость участия семейного юриста в&nbsp;судах Пермского края оговаривается индивидуально.

                    h2.content-title Составление иска
                    p включает в&nbsp;себя: подготовку искового заявления, расчет государственной пошлины, подготовку пакета документов (письменных доказательств) по&nbsp;числу участвующих лиц, составление необходимых ходатайств. Вам останется только отправить пакет документов в&nbsp;суд.

                    h2.content-title Судебное представительство
                    p &mdash;&nbsp;это участие юриста по&nbsp;семейным делам в Мировом или Районном суде (составление искового заявления, сбор доказательств, участие в&nbsp;судебных заседаниях и&nbsp;иные юридически необходимые действия для достижения положительного решения суда) с&nbsp;момента обращения доверителя до вынесения судом первой инстанции решения. Возможно ведения без Вашего присутствия в&nbsp;судебных заседаниях.

                    h2.content-title Апелляционная инстанция
                    p &mdash;&nbsp;это участие юриста в&nbsp;Районном или Краевом суде с&nbsp;заявлением об&nbsp;обжаловании решения суда первой инстанции.

                    p
                        b Мы&nbsp;Вам обязательно поможем в&nbsp;решении семейного спора.<br>

            .accent-block
                p.accent-block__txt Оплата юридических услуг признается судебными расходами и&nbsp;подлежит взысканию с&nbsp;проигравшей стороны


    include inc/contact-block.html