extends inc/base

block title
    title= 'Стоимость услуг | Юридический центр Право и семьяeee'

block content

    section.content-wrap.content-wrap_white
        .container
            h1.section-title Стоимость услуг &laquo;Юридического центра &laquo;ПРАВО и&nbsp;СЕМЬЯ&raquo;
            table.price-tbl
                tr
                    td Консультация в офисе (по предварительной записи)
                    td БЕСПЛАТНО
                tr
                    td Составление искового заявления
                    td от 1 500 рублей
                tr
                    td Расторжение брака в суде
                    td от 5 000 рублей
                tr
                    td Раздел имущества супругов
                    td от 10 000 рублей
                tr
                    td Взыскание алиментов
                    td от 8 000 рублей
                tr
                    td Уменьшение размера алиментов
                    td от 10 000 рублей
                tr
                    td Определение места жительства ребенка с&nbsp;одним из родителей
                    td от 8 000 рублей
                tr
                    td Определение порядка общения с ребенком
                    td от 8 000 рублей
                tr
                    td Установление/Оспаривание отцовства
                    td от 12 000 рублей
                tr
                    td Лишение родительских прав
                    td от 10 000 рублей
                tr
                    td Снятие с&nbsp;регистрационного учета бывших членов семьи
                    td от 8 000 рублей
                tr
                    td Определение порядка пользования жилым помещением
                    td от 9 000 рублей
                tr
                    td Споры о наследстве
                    td от 10 000 рублей
                tr
                    td Участие в суде апелляционной инстанции
                    td 5 000 рублей
                tr
                    td Составление апелляционной или кассационной жалобы
                    td 5 000 рублей
                tr
                    td Заочное ведение дела в суде
                    td 7 000 рублей

            p Оплата услуг осуществляется в&nbsp;рассрочку.
            p Стоимость услуг является судебными расходами, которые подлежат взысканию с&nbsp;проигравшей стороны.
            p Стоимость услуг может варьироваться в&nbsp;зависимости от&nbsp;особенностей и&nbsp;сложности дела.
            p Цены указаны за&nbsp;услуги в&nbsp;г. Перми.
            p Стоимость участия семейного юриста в&nbsp;судах Пермского края оговаривается индивидуально.

            h2.section-title.section-title_sec Составление иска
            p включает в&nbsp;себя: подготовку искового заявления, расчет государственной пошлины, подготовку пакета документов (письменных доказательств) по&nbsp;числу участвующих лиц, составление необходимых ходатайств. Вам останется только отправить пакет документов в&nbsp;суд.

            h2.section-title.section-title_sec Судебное представительство
            p &mdash;&nbsp;это участие юриста по&nbsp;семейным делам в Мировом или Районном суде (составление искового заявления, сбор доказательств, участие в&nbsp;судебных заседаниях и&nbsp;иные юридически необходимые действия для достижения положительного решения суда) с&nbsp;момента обращения доверителя до вынесения судом первой инстанции решения. Возможно ведения без Вашего присутствия в&nbsp;судебных заседаниях.

            h2.section-title.section-title_sec Апелляционная инстанция
            p &mdash;&nbsp;это участие юриста в&nbsp;Районном или Краевом суде с&nbsp;заявлением об&nbsp;обжаловании решения суда первой инстанции.

            h2.section-title.section-title_sec Заочное ведение дела в&nbsp;суде включает в&nbsp;себя:
            ol.article-list
                li Подготовка иска и&nbsp;пакета документов для подачи заявления в&nbsp;суд.
                li Неограниченное число консультаций по&nbsp;текущему делу.
                li Составление необходимых документов.
                li Рекомендации для достижения положительного решения в&nbsp;суде.
                li Помощь в&nbsp;поиске и&nbsp;сборе информации, данных, доказательств.

            p
                b Мы&nbsp;Вам обязательно поможем в&nbsp;решении семейного спора.

    include inc/contact-block.html