extends inc/base

block title
    title= 'Расторжение брака. Услуги семейного юриста | Центр Право и Семья'
    meta(name='description' content='Если Вы пришли к решению расторгнуть брак, то следующие разъяснения Юриста по семейным делам будут Вам очень полезны')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/razdel-imushchestva.jpg" alt="раздел имущества")
                    .banner__info
                        h1.banner__title Расторжение брака


                .txt-block
                    p Если Вы&nbsp;пришли к&nbsp;решению расторгнуть брак, то&nbsp;следующие разъяснения <a href="#">Юриста по&nbsp;семейным делам</a> будут Вам очень полезны.
                    h2.content-title Для чего расторгать брак?
                    p Если сохранение семьи невозможно, вы&nbsp;с&nbsp;супругом(-ой) не&nbsp;ведете общее хозяйство, у&nbsp;вас раздельный бюджет, то&nbsp;брак необходимо расторгнуть. Расторжение брака (так&nbsp;же как и&nbsp;его заключение)&nbsp;&mdash; юридически значимое действие, которое порождает или прекращает определенные законом права и&nbsp;обязанности супругов.
                    p Если Вы&nbsp;своевременно не&nbsp;расторгнете брак, то&nbsp;в&nbsp;будущем можете столкнуться со&nbsp;следующими проблемами:
                    p &mdash;&nbsp;Невозможность заключить новый брак;<br>
                        | &mdash;&nbsp;Если супруг(-а) уедет в&nbsp;другой регион, то&nbsp;развестись станет гораздо сложнее;<br>
                        | &mdash;&nbsp;Если супруг тяжело заболеет (станет нетрудоспособным), то&nbsp;на&nbsp;Вас может быть возложена обязанность по&nbsp;его содержанию;<br>
                        | &mdash;&nbsp;Вам, возможно, придется выплачивать кредит, который супруг возьмет в&nbsp;период брака (хоть вы&nbsp;не&nbsp;живете вместе). Факт того, что&nbsp;Вы не&nbsp;знали о&nbsp;кредите, придется доказывать в&nbsp;суде, что легче предотвратить, просто своевременно расторгнув брак.

                .video-wrap
                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/FRXJ4tb2p0A?rel=0&amp;controls=0&amp;start=191" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                .txt-block
                    h2.content-title Правовое регулирование расторжения брака.<br> Где расторгнуть брак
                    p Расторжение брака регулируется положениями главы 4&nbsp;Семейного Кодекса Российской Федерации и&nbsp;ст.&nbsp;33&nbsp;и&nbsp;34&nbsp;Федерального закона &laquo;Об&nbsp;актах гражданского состояния&raquo;
                    p Семейный Кодекс предусматривает несудебное и&nbsp;судебное расторжение брака.
                    p Брак расторгается в&nbsp;ЗАГСе или в&nbsp;суде. Порядок расторжения брака зависит от&nbsp;некоторых обстоятельств и&nbsp;условий.

                    h2.content-title Расторжение брака через ЗАГС.
                    p Расторжение брака через ЗАГС.
                    p Внесудебное расторжение брака предусматривает подачу совместного заявления супругов в&nbsp;органы ЗАГС по&nbsp;месту жительства либо в&nbsp;ЗАГС, в&nbsp;котором заключался брак. Для расторжения брака в&nbsp;ЗАГСе необходимо согласие обоих супругов, а&nbsp;так&nbsp;же отсутствие общих несовершеннолетних детей.
                    p Расторжение брака по&nbsp;заявлению одного из&nbsp;супругов независимо от&nbsp;наличия у&nbsp;супругов общих несовершеннолетних детей производится в&nbsp;органах записи актов гражданского состояния, если другой супруг:
                    p &mdash;&nbsp;признан судом безвестно отсутствующим;<br>
                        | &mdash;&nbsp;признан судом недееспособным;<br>
                        | &mdash;&nbsp;осужден за&nbsp;совершение преступления к&nbsp;лишению свободы на&nbsp;срок свыше трех лет.<br>
                    p По&nbsp;истечении месяца после подачи заявления о&nbsp;разводе, Вы&nbsp;получите свидетельство о&nbsp;расторжении брака.

                    h2.content-title Расторжение брака в&nbsp;суде
                    p В&nbsp;случае, если супруг(-а) отказывается от&nbsp;расторжения брака, не&nbsp;желает идти в&nbsp;ЗАГС для подачи заявления или уклоняется от&nbsp;расторжения брака (относится к&nbsp;этому безразлично), то&nbsp;такой брак может быть расторгнут только в&nbsp;суде.
                    p Если у&nbsp;супругов есть общие несовершеннолетние дети, то&nbsp;такой брак обязательно расторгается в&nbsp;судебном порядке, за&nbsp;исключением случаев, указанных выше.
                    p Исковое заявление подается в&nbsp;мировой суд по&nbsp;месту жительства ответчика, к&nbsp;иску прикладывается оригинал свидетельства о&nbsp;заключении брака, копии иных документов (например, свидетельство о&nbsp;рождении ребенка), квитанция об&nbsp;оплате государственной пошлины.

                    h2.content-title Расторжение брака и&nbsp;алименты
                    p Чаще всего у&nbsp;лиц, расторгающих брак, имеются несовершеннолетние дети. Если без решения суда брак невозможно расторгнуть, то&nbsp;порядок уплаты алиментов (материальное содержание детей), общения с&nbsp;детьми и&nbsp;воспитания детей можно решить миром, без судебного процесса.
                    p Супругам на&nbsp;стадии прекращения семейных отношений и&nbsp;бракоразводного процесса стоит обсудить вопросы содержания и&nbsp;воспитания детей. Если дело миром не&nbsp;получается решить, то&nbsp;необходимо обратиться в&nbsp;суд с&nbsp;иском о&nbsp;взыскании алиментов, а&nbsp;так&nbsp;же заявить иные требования, например, определить место жительства ребенка или порядок общения с&nbsp;ним.
                    p Требования о&nbsp;расторжении брака и&nbsp;требования о&nbsp;взыскании алиментов можно объединить в&nbsp;одном исковом заявлении. В&nbsp;случае заявления требований о&nbsp;взыскании алиментов, иск можно подать по&nbsp;месту жительства истца.

                    h2.content-title Расторжение брака и&nbsp;раздел имущества
                    p При расторжении брака перед супругами нередко встает вопрос о&nbsp;разделе имущества.
                    p Разделить имущество можно в&nbsp;период брака, одновременно с&nbsp;расторжением брака или после расторжения брака. Разделу подлежит только то&nbsp;имущество, которое было нажито в&nbsp;период брака и&nbsp;неважно на&nbsp;кого из&nbsp;супругов оно оформлено.
                    p С&nbsp;разделом имущества нельзя затягивать, так как в&nbsp;дальнейшем могут возникнуть сложности, например, имущество будет продано (в&nbsp;этом случае есть юридические способы взыскать денежную компенсацию, но&nbsp;это сложнее, чем разделить имущество при его наличии).
                    p Для имущества, приобретенного в&nbsp;браке за&nbsp;счет общих средств, предусмотрен особый имущественный режим&nbsp;&mdash; режим совместной собственности, то&nbsp;есть без выдела доли. Соответственно, распорядиться таким имуществом без согласия другого супруга нельзя. Раздел имущества предполагает выдел из&nbsp;совместной собственности определенной доли, как правило &frac12;, или выплату денежной компенсации.
                    p Судебный раздел имущества процесс долгий и&nbsp;требует особой юридической &laquo;аккуратности&raquo; при оценке имущества, формулировании исковых требований, даче объяснений в&nbsp;суде.

                    h2.content-title Государственная пошлина за&nbsp;расторжение брака
                    p Государственная пошлина за&nbsp;расторжение брака в&nbsp;суде составляет&nbsp;&mdash; 600&nbsp;рублей; в&nbsp;ЗАГСе&nbsp;&mdash; 650&nbsp;рублей.
                    p Если одновременно с&nbsp;иском о&nbsp;разводе заявлены требования о&nbsp;разделе имущества, то&nbsp;дополнительно уплачивается государственная пошлина за&nbsp;раздел имущества. Размер государственной пошлины предусмотрен Налоговым кодексом&nbsp;РФ и&nbsp;зависит от&nbsp;стоимости имущества.

                .txt-block
                    p Статья подготовлена специалистами <a href="/">Юридического центра &laquo;Право и&nbsp;Семья&raquo;</a>
                    p Все права защищены и&nbsp;охраняются законом.<br>
                        | При полном или частичном использовании материалов
                        | обязательна ссылка на&nbsp;сайт http://pravo59.com/

            aside.content__col.content__col_sm

                include inc/sub-menu

    include inc/contact-block.html