extends inc/base

block title
    title= 'Расторжение брака в суде | Юридический центр Право'

block content

    section.content-wrap
        .container.container-flex

            .content__col
                h1.section-title Расторжение брака в&nbsp;суде

                p Семейный кодекс устанавливает положения, когда расторгнуть брак можно только в судебном порядке:
                ol.article-list.article-list_num
                    li Если у&nbsp;супругов есть общие дети до&nbsp;18&nbsp;лет.
                    li Один из&nbsp;супругов отказывается подавать заявление о&nbsp;разводе или относится к&nbsp;этому безразлично.

                p В&nbsp;основном бракоразводные дела рассматривают мировые судьи. Районный суд
                    | рассматривает подобные дела в&nbsp;случае если одновременно заявлены требования о&nbsp;разделе
                    | имущества (при цене иска больше 50&nbsp;000&nbsp;рублей) либо требования об&nbsp;определении места
                    | жительства ребенка (детей) с&nbsp;одним из&nbsp;родителей.

                p Что&nbsp;бы инициировать судебное разбирательство, необходимо правильно составить исковое заявление.
                    | Составление иска о&nbsp;разводе лучше доверить юристу по&nbsp;семейным делам, который знает нормы семейного кодекса.

                h2.section-title.section-title_sec К&nbsp;иску должны быть приложены документы:

                ul.article-list
                    li исковое заявление для суда и&nbsp;другого супруга
                    li копии свидетельств о&nbsp;рождении ребенка (детей)
                    li оригинал свидетельства о&nbsp;заключении брака
                    li квитанция об&nbsp;оплате госпошлины
                    li иные документы

                p После подачи иска, суд в&nbsp;течение 5&nbsp;дней принимает исковое заявление к&nbsp;производству.
                    | Если иск не&nbsp;будет соответствовать требованиям процессуального законодательства, суд оставит иск без движения.
                p В&nbsp;дальнейшем адвокат по&nbsp;семейным делам может принять участие в&nbsp;рассмотрении дела.
                    | Для этого необходимо оформить нотариальную доверенность. Вы&nbsp;можете не&nbsp;принимать
                    | участия в&nbsp;судебном заседании. Юрист качественно проведет судебный процесс. В&nbsp;итоге
                    | Вы&nbsp;получите на&nbsp;руки решение суда, с&nbsp;которым нужно обратиться в&nbsp;ЗАГС для получения
                    | свидетельства о&nbsp;расторжении брака.

                p В&nbsp;случае если встанет вопрос об&nbsp;уплате алиментов или вы&nbsp;захотите предъявить
                    | требования о&nbsp;разделе совместно нажитого имущества, адвокат поможет Вам и&nbsp;в&nbsp;этих вопросах.
                    | Поддержка юриста при расторжении брака служит гарантией вынесения судом
                    | справедливого решения и&nbsp;позволит максимально защитить имущественные интересы и
                    | права Ваших несовершеннолетних детей.

            aside.content__col.content__col_sm
                h2.section-title.section-title_sec Другие статьи по теме
                ul.article-list
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья
                    li
                        a(href="#") Статья

    include inc/contact-block.html