extends inc/base

block title
    title= 'Расторжение брака'

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/rastorzhenie-braka.jpg" alt="расторжение брака")
                    .banner__info
                        h1.banner__title Расторжение брака
                        p.banner__txt Расторгнем Ваш брак в кратчайшие сроки без лишних проблем для Вас

                .txt-block
                    p Консультации и&nbsp;представительство в&nbsp;суде по&nbsp;делам о&nbsp;расторжении брака:
                    ul.list
                        li если супруг(-а) уклоняется от&nbsp;расторжения брака;
                        li если есть несовершеннолетние дети;
                        li если супруг(-а) живет в&nbsp;другом городе;
                        li если вместе с&nbsp;разводом необходимо разделить имущество или решить спор по&nbsp;детям и&nbsp;алиментам;

                    p Юрист по&nbsp;семейным делам совершит все необходимые действия для быстрого расторжения брака в&nbsp;судебном порядке. Мы&nbsp;можем выполнить для Вас как отдельные юридические действия (консультация, составление иска о&nbsp;расторжении брака, участие в&nbsp;отдельном судебном заседании), так и&nbsp;провести судебный процесс от&nbsp;начала и&nbsp;до&nbsp;вынесения судом решения.
                    p Поручив ведение дела о&nbsp;расторжении брака юристам центра &laquo;Право и&nbsp;Семья&raquo;, Вы&nbsp;получаете ряд преимуществ:
                    ol.num-list
                        li Грамотная консультация юриста
                        li Составление иска и&nbsp;подготовка пакета документов в&nbsp;самые короткие сроки
                        li Еженедельный отчет о&nbsp;проделанной работе
                        li 100% выигрыш дела
                        li Общение с&nbsp;ответчиком для Вас будет сведено к&nbsp;минимуму

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq В&nbsp;какой суд обращаться с&nbsp;заявлением о&nbsp;расторжении брака?
                    .faq-block__answer
                        p Дела о&nbsp;расторжении брака, если между супругами отсутствует спор о&nbsp;детях, рассматривает Мировой судья. Исковое заявление следует подавать в&nbsp;суд по&nbsp;месту жительства ответчика.
                        p Если одновременно с&nbsp;требованием о&nbsp;расторжении брака заявляются требования о&nbsp;взыскании алиментов, то&nbsp;исковое заявление можно подать по&nbsp;месту жительства истца.
                        p Иск о&nbsp;расторжении брака может быть подан в&nbsp;суд по&nbsp;месту жительства истца в&nbsp;случаях, если при нем находится несовершеннолетний или по&nbsp;состоянию здоровья выезд истца к&nbsp;месту жительства ответчика представляется для него затруднительным.

                    .faq-block__question.js-faq Госпошлина за&nbsp;развод
                    .faq-block__answer
                        p Сумма государственной пошлины за&nbsp;расторжение брака в&nbsp;судебном порядке составляет 600&nbsp;рублей. Сумма государственной пошлины уплачивается до&nbsp;подачи искового заявления в&nbsp;суд. Оригинал квитанции прикладывается к&nbsp;иску.
                        p Если брак расторгается в&nbsp;органах ЗАГС, сумма государственной пошлины составляет 650&nbsp;рублей.

                    .faq-block__question.js-faq Какие документы нужны для развода?
                    .faq-block__answer
                        p В&nbsp;случае расторжения брака в&nbsp;судебном порядке в&nbsp;суд необходимо подать следующие документы:<br>
                            | &mdash;&nbsp;2&nbsp;экземпляра искового заявления<br>
                            | &mdash;&nbsp;Оригинал свидетельства о&nbsp;заключении брака<br>
                            | &mdash;&nbsp;Копии свидетельства о&nbsp;рождении детей (при наличии)<br>
                            | &mdash;&nbsp;Иные документы (в&nbsp;зависимости от&nbsp;обстоятельств)

                    .faq-block__question.js-faq С какого момента брак считается расторгнутым?
                    .faq-block__answer
                        p Брак считается расторгнутым с&nbsp;момента вступления судебного решения в&nbsp;законную силу, то&nbsp;есть после истечения 30&nbsp;дней с&nbsp;момента принятия судом решения, при условии, что решение суда первой инстанции не&nbsp;было обжаловано.
                        p Важно различать момент расторжения брака и&nbsp;момент прекращения семейных отношений (раздельное проживание, отсутствие совместного бюджета и&nbsp;т.д.). Это важно при разделе имущества и&nbsp;долгов супругов.

                    .faq-block__question.js-faq Как подать на&nbsp;развод, если я&nbsp;не&nbsp;знаю место жительства мужа?
                    .faq-block__answer
                        p В&nbsp;случае, если место жительства ответчика не&nbsp;известно, исковое заявление можно подать по&nbsp;месту нахождения его имущества или по&nbsp;его последнему известному месту жительства или по&nbsp;месту его регистрации.

                    .faq-block__question.js-faq Как развестись если есть маленький ребенок?
                    .faq-block__answer
                        p В&nbsp;случае, если у&nbsp;супругов имеются общие несовершеннолетние дети, то&nbsp;брак расторгается только в&nbsp;суде.
                        p Муж не&nbsp;имеет права без согласия жены возбуждать дело о&nbsp;расторжении брака во&nbsp;время беременности жены и&nbsp;в&nbsp;течение года после рождения ребенка.

                    .faq-block__question.js-faq Муж живет в&nbsp;Москве. Я&nbsp;с&nbsp;детьми живу в&nbsp;Перми. Я&nbsp;хочу развестись. Что мне делать?
                    .faq-block__answer
                        p По&nbsp;общему правилу исковое заявление подается по&nbsp;месту жительства ответчика.
                        p В&nbsp;случае, если одновременно с&nbsp;требованиями о&nbsp;расторжении брака заявляются требования о&nbsp;взыскании алиментов, то&nbsp;исковое заявление можно подать по&nbsp;месту жительства истца.
                        p Иски о&nbsp;расторжении брака могут предъявляться также в&nbsp;суд по&nbsp;месту жительства истца в&nbsp;случаях, если при нем находится несовершеннолетний или по&nbsp;состоянию здоровья выезд истца к&nbsp;месту жительства ответчика представляется для него затруднительным.
                        p Таким образом, иск можно подать в&nbsp;суд по&nbsp;месту своего жительства.

                    .faq-block__question.js-faq Жена не&nbsp;хочет разводиться, а&nbsp;я&nbsp;хочу. В&nbsp;ЗАГС не&nbsp;идет. Как мне поступить?
                    .faq-block__answer
                        p Расторжение брака производится в&nbsp;судебном порядке, если один из&nbsp;супругов уклоняется от&nbsp;расторжения брака в&nbsp;органе записи актов гражданского состояния, в&nbsp;том числе отказывается подать заявление.

                    .faq-block__question.js-faq Хочу расторгнуть брак. Жене пока не&nbsp;говорил. С&nbsp;чего мне начать?
                    .faq-block__answer
                        p Если принято окончательное решение о&nbsp;расторжении брака, необходимо решить:
                            | &mdash;&nbsp;с&nbsp;кем будут проживать дети, содержание детей, порядок общения с&nbsp;детьми родителя, проживающего отдельно.
                            | &mdash;&nbsp;каким образом будет разделено имущество и&nbsp;долги (если таковые имеются)
                        p Далее следует обсудить с&nbsp;женой эти вопросы. Так будет честно, и&nbsp;многие вопросы удастся решить миром. Вместе с&nbsp;женой необходимо обратиться за&nbsp;консультацией к&nbsp;адвокату по&nbsp;семейным делам. Это поможет сохранить деньги, время и&nbsp;нервы.

                    .faq-block__question.js-faq Можно&nbsp;ли одновременно с&nbsp;разводом просить алименты и&nbsp;делить имущество?
                    .faq-block__answer
                        p Да, можно. Так как эти требования связаны между собой&nbsp;&mdash; вытекают из&nbsp;семейных правоотношений.
                        p Так&nbsp;же можно каждое из&nbsp;требований заявить самостоятельно.
                        p Важно определиться с&nbsp;подсудностью дела (в&nbsp;какой суд будет подаваться иск&nbsp;&mdash; в&nbsp;мировой или районный).
                        p Если&nbsp;же имеется спор о&nbsp;детях (оспаривание отцовства (материнства), установление отцовства, лишение родительских прав, ограничение родительских прав, усыновление (удочерение) ребенка) или сумма иска больше 50&nbsp;000&nbsp;рублей, то&nbsp;необходимо обращаться в&nbsp;районный суд.


            aside.content__col.content__col_sm
                .add-block.add-block_article
                    h3.add-block__title Статьи по теме
                    ul.article-list
                        li
                            a(href="#") Адвокат по разводам
                        li
                            a(href="#") Бракоразводный процесс
                        li
                            a(href="#") Документы для развода
                        li
                            a(href="#") Развод через суд
                        li
                            a(href="#") Инструкция по расторжению брака
                        li
                            a(href="#") Консультация юриста по разводам
                        li
                            a(href="#") Куда подавать иск о разводе
                        li
                            a(href="#") Образец иска о разводе
                        li
                            a(href="#") Подать на развод
                        li
                            a(href="#") Порядок расторжения брака
                        li
                            a(href="#") Расторжение брака в суде

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html