extends inc/base

block title
    title= 'Раздел имущества. Услуги семейного юриста | Центр Право и Семья'
    meta(name='description' content='Важная информация о разделе имущества супругов. Как выделить долю, разделить автомобиль, поделить долги и ипотеку. Наши юристы знают всё о семейных делах')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/razdel-imushchestva.jpg" alt="раздел имущества")
                    .banner__info
                        h1.banner__title Раздел имущества
                        p.banner__txt Поможем выгодно разделить имущество

                .txt-block
                    p Консультации и&nbsp;судебное представительство по&nbsp;разделу имущества:
                    ul.list
                        li раздел совместного имущества
                        li раздел долгов и&nbsp;кредитов
                        li раздел ипотеки
                        li выдел доли в&nbsp;квартире
                        li раздел бизнеса

                    p Раздел имущества представляет собой сложную процедуру и&nbsp;в&nbsp;судебном процессе обойтись без помощи опытного семейного юриста непросто.
                    p Юрист, зная семейное законодательство и&nbsp;судебную практику, сможет правильно, с&nbsp;учетом пожеланий доверителя, написать иск, сформулировать исковые требования, приложить необходимые документы и&nbsp;ходатайства, определиться с&nbsp;доказательствами, выстроить диалог с&nbsp;противоположной стороной с&nbsp;целью мирного решения дела. Кроме того, адвокат по&nbsp;семейным делам&nbsp;&mdash; это Ваш представитель в&nbsp;судебном процессе и&nbsp;действует исключительно в&nbsp;Ваших интересах.
                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; позаботятся о&nbsp;максимальной защите Ваших имущественных прав.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Надо&nbsp;ли делить квартиру, если мы&nbsp;с&nbsp;мужем ее&nbsp;приватизировали?
                    .faq-block__answer
                        p Нет, квартиру делить не&nbsp;надо, так как у&nbsp;вас с&nbsp;мужем режим общей долевой собственности, а&nbsp;не&nbsp;общей совместной. То&nbsp;есть право собственности на&nbsp;квартиру оформлено в&nbsp;равных долях на&nbsp;лиц, участвовавших в&nbsp;приватизации.

                    .faq-block__question.js-faq Купили с&nbsp;женой квартиру. Сейчас разводимся и&nbsp;делим имущество. Жена не&nbsp;хочет отдавать мне половину и&nbsp;говорит, что надо делить еще и&nbsp;на&nbsp;дочь. Так&nbsp;ли это?
                    .faq-block__answer
                        p Ребенок не&nbsp;имеет права собственности на&nbsp;имущество родителей, родители не&nbsp;имеют права собственности на&nbsp;имущество ребенка. Дети и&nbsp;родители, проживающие совместно, могут владеть и&nbsp;пользоваться имуществом друг друга по&nbsp;взаимному согласию.
                        p При разделе общего имущества супругов и&nbsp;определении долей в&nbsp;этом имуществе доли супругов признаются равными, если иное не&nbsp;предусмотрено договором между супругами.
                        p Суд вправе отступить от&nbsp;начала равенства долей супругов в&nbsp;их&nbsp;общем имуществе исходя из&nbsp;интересов несовершеннолетних детей&nbsp;и (или) исходя из&nbsp;заслуживающего внимания интереса одного из&nbsp;супругов, в&nbsp;частности, в&nbsp;случаях, если другой супруг не&nbsp;получал доходов по&nbsp;неуважительным причинам или расходовал общее имущество супругов в&nbsp;ущерб интересам семьи.
                        p Таким образом, квартира будет делиться только между мужем и&nbsp;женой.

                    .faq-block__question.js-faq Мне по&nbsp;наследству досталась квартира. Когда оформлял наследство, был в&nbsp;браке. Как будет делиться квартира при разводе?
                    .faq-block__answer
                        p При разводе, вернее при разделе имущества, квартира останется только в&nbsp;Вашей собственности, так как имущество, принадлежавшее каждому из&nbsp;супругов до&nbsp;вступления в&nbsp;брак, а&nbsp;также имущество, полученное одним из&nbsp;супругов во&nbsp;время брака в&nbsp;дар, в&nbsp;порядке наследования или по&nbsp;иным безвозмездным сделкам (имущество каждого из&nbsp;супругов), является его собственностью.

                    .faq-block__question.js-faq Поженились 2&nbsp;года назад. Мой папа хочет подарить мне квартиру. Я&nbsp;беспокоюсь, что в&nbsp;случае развода, муж может забрать половину себе. Сейчас живем в&nbsp;квартире мужа, которую он&nbsp;купил до&nbsp;брака. Как будет разделена квартира?
                    .faq-block__answer
                        p Квартира мужа останется в&nbsp;его собственности, так как была приобретена до&nbsp;брака. Квартира, которую подарит папа, останется в&nbsp;Вашей собственности, так как имущество, полученное одним из&nbsp;супругов во&nbsp;время брака в&nbsp;дар, является его собственностью. Это обусловлено тем, что квартира приобреталась не&nbsp;за&nbsp;общий счет. Так что папа может смело дарить квартиру дочери во&nbsp;время брака.

                    .faq-block__question.js-faq После свадьбы я&nbsp;практически не&nbsp;работала. В&nbsp;браке родились 2&nbsp;сына. Я&nbsp;все время сидела с&nbsp;ними. Сейчас отношения разладились. Муж сказал, что разведется и&nbsp;все имущество (2&nbsp;квартиры, земельный участок и&nbsp;автомобиль) оставит себе, а&nbsp;мне взамен купит 2&nbsp;&mdash; комнатную квартиру. Говорит, что я&nbsp;больше не&nbsp;получу даже через суд, так как он&nbsp;все заработал. Какие я&nbsp;имею права на&nbsp;имущество, если я&nbsp;не&nbsp;работала, а&nbsp;значит не&nbsp;вносила деньги в&nbsp;семью?
                    .faq-block__answer
                        p Муж предлагает Вам невыгодную сделку и&nbsp;пытается заполучить больше имущества, чем ему положено по&nbsp;закону.
                        p Доли в&nbsp;общем имуществе признаются равными, если иное не&nbsp;предусмотрено договором между супругами. Неважно, работала жена или нет. Все доходы супруга являются общими доходами семьи. В&nbsp;случае раздела имущества&nbsp;Вы можете претендовать на&nbsp;50&nbsp;% от&nbsp;всего имущества, в&nbsp;том числе и&nbsp;на&nbsp;вклады в&nbsp;банке.

                    .faq-block__question.js-faq У&nbsp;меня есть машина (стоимость около 350&nbsp;000&nbsp;рублей), покупал в&nbsp;браке. С&nbsp;женой в&nbsp;разводе 4&nbsp;года. Она требует половину стоимости автомобиля. Я&nbsp;ей&nbsp;говорю, что прошло 3&nbsp;года и&nbsp;никаких прав она не&nbsp;имеет. Правильно я&nbsp;рассуждаю? Если все&nbsp;же будет машина делиться, то&nbsp;какая цена будет учитываться при разделе?
                    .faq-block__answer
                        p К&nbsp;требованиям супругов о&nbsp;разделе общего имущества супругов, брак которых расторгнут, применяется трехлетний срок исковой давности. Важно учитывать начало течения этого срока. Началом срока является не&nbsp;дата расторжения брака, а&nbsp;дата, когда были нарушены права второго супруга (например, дата продажи имущества). Учитывая, что автомобиль не&nbsp;продан, соответственно права жены нарушены не&nbsp;были и&nbsp;срок исковой давности не&nbsp;истек (он&nbsp;даже еще и&nbsp;не&nbsp;начинался). Таким образом, требования бывшей жены законны. Автомобиль останется у&nbsp;мужа, который обязан выплатить денежную компенсацию (50&nbsp;% от&nbsp;стоимости) жене. Стоимость автомобиля определяется на&nbsp;день предъявления требований.
                        p В&nbsp;браке купили собаку. Мы&nbsp;с&nbsp;мужем одинаково ее&nbsp;любим. Но&nbsp;сейчас разводимся. Я&nbsp;хочу, что&nbsp;бы собака осталась со&nbsp;мной, а&nbsp;муж мне ее&nbsp;отдавать не&nbsp;хочет. Как мне забрать собаку себе? Какое решение вынесет суд?
                        p Если миром договориться не&nbsp;получается, значит требуется подать исковое заявление и&nbsp;определить право собственности на&nbsp;собаку. Суд будет принимать решение из&nbsp;следующего: кто инициатор покупки, назначение собаки (например, муж охотник и&nbsp;собака охотничья; или муж остается жить в&nbsp;частном доме, а&nbsp;собака сторожевая), кто за&nbsp;собакой больше ухаживает и&nbsp;т.д. Все эти факты требуется доказать. Можно обратиться к&nbsp;специалисту&nbsp;&mdash; кинологу с&nbsp;целью определения привязанности собаки.
                        p У&nbsp;нас с&nbsp;мужем 2&nbsp;детей. Сейчас живем порознь. Муж хочет забрать компьютер, который мы&nbsp;покупали детям для учебы. Как мне оставить компьютер детям?
                        p Вещи, приобретенные исключительно для удовлетворения потребностей несовершеннолетних детей (одежда, обувь, школьные и&nbsp;спортивные принадлежности, музыкальные инструменты, детская библиотека и&nbsp;другие), разделу не&nbsp;подлежат и&nbsp;передаются без компенсации тому из&nbsp;супругов, с&nbsp;которым проживают дети. Но&nbsp;необходимо доказать факт того, что компьютер приобретался для нужд детей.


                    .faq-block__question.js-faq Развелась с&nbsp;мужем. У&nbsp;нас остался автокредит. Стоимость машины 950&nbsp;000&nbsp;рублей. Остаток по&nbsp;кредиту&nbsp;&mdash; 350&nbsp;000&nbsp;рублей. На&nbsp;машине ездит муж. Как будет разделен автомобиль и&nbsp;кредит?
                    .faq-block__answer
                        p Автомобиль останется у&nbsp;жены. Муж обязан выплатить компенсацию в&nbsp;размере 50&nbsp;% от&nbsp;стоимости, то&nbsp;есть 475&nbsp;000&nbsp;рублей. В&nbsp;дальнейшем, после погашения кредита в&nbsp;полном объеме, муж сможет потребовать с&nbsp;жены половины суммы выплаченного кредита.

                    .faq-block__question.js-faq В&nbsp;браке купили квартиру. Собственниками являются моя жена и&nbsp;ее&nbsp;дочь от&nbsp;первого брака. Я&nbsp;живу сейчас в&nbsp;этой квартире и&nbsp;прописан в&nbsp;ней. Брак расторгли 1&nbsp;год назад. Сейчас дочь жены подала иск о&nbsp;выселении меня из&nbsp;квартиры. Меня могут выселить? Что мне делать?
                    .faq-block__answer
                        p Выселить в&nbsp;такой ситуации не&nbsp;могут, так как муж тоже является собственником квартиры. Жена лишь титульный собственник. Мужу необходимо обратиться в&nbsp;суд с&nbsp;иском о&nbsp;разделе общего имущества (1/2 доли в&nbsp;квартире). После раздела у&nbsp;мужа и&nbsp;жены будет по &frac14;&nbsp;в праве собственности на&nbsp;квартиру.


            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Выдел доли в квартире
                //        li
                //            a(href="#") Юрист по разделу имущества
                //        li
                //            a(href="#") Делить или не делить имущество
                //        li
                //            a(href="#") Интересы детей при разделе недвижимости
                //        li
                //            a(href="#") Погашение кредита после расторжения брака
                //        li
                //            a(href="#") Раздел автомобиля
                //        li
                //            a(href="#") Раздел имущества супругов
                //        li
                //            a(href="#") Раздел ипотеки
                //        li
                //            a(href="#") Раздел квартиры
                //        li
                //            a(href="#") Раздел кредита
                //        li
                //            a(href="#") Помощь адвоката при разделе имущества

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html