extends inc/base

block title
    title= 'Семейный юрист | Центр Право и Семья'
    meta(name='description' content='Юридический центр «Право и Семья» оказывает услуги исключительно в области семейного права и связанных с ним наследственного и жилищного законодательства.')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/semejnyj-yurist.jpg" alt="семейный юрист")
                    .banner__info
                        h1.banner__title Семейный юрист

                p <b>Содержание:</b>
                ul.list.list_chapter
                    li
                        a(href="#ch1").js-scroll-link Почему важно выбирать именно семейного юриста?
                    li
                        a(href="#ch2").js-scroll-link Отличие Семейного юриста (адвоката) от юриста общей практики
                    li
                        a(href="#ch3").js-scroll-link Как следует выбирать юриста
                    li
                        a(href="#ch4").js-scroll-link Как строится работа с Семейным юристом

                .txt-block
                    h2.content-title#ch1 Почему важно выбирать именно семейного юриста?
                    p Правовая сфера очень обширна и&nbsp;имеет свои отрасли. Среди адвокатов и&nbsp;юристов не&nbsp;очень распространена специализация на&nbsp;какой&nbsp;&mdash; либо отдельной отрасли права. Все занимаются всем, что не&nbsp;может не&nbsp;сказываться на&nbsp;качестве оказываемых услуг, так как невозможно досконально знать все тонкости каждого направления юридической отрасли.
                    p <a href="/">Юридический центр &laquo;Право и&nbsp;Семья&raquo;</a> оказывает услуги исключительно в&nbsp;области семейного права и&nbsp;связанных с&nbsp;ним наследственного и&nbsp;жилищного законодательства.

                    h2.content-title#ch2 Отличие Семейного юриста (адвоката) от&nbsp;юриста общей практики:
                    p &mdash;&nbsp;Узкая специализация дает возможность более глубоко знать судебную практику по&nbsp;семейным делам, разбираться в&nbsp;тонкостях расторжения брака, взыскания алиментов, раздела имущества супругов, установления отцовства, лишения родительских прав и&nbsp;т.д.
                    p &mdash;&nbsp;Семейный юрист, ежедневно сталкиваясь с&nbsp;судебными делами по&nbsp;семейному праву, более детально разбирается в&nbsp;тонкостях этих проблем.
                    p &mdash;&nbsp;Кроме Семейного кодекса существуют еще и&nbsp;другие нормативные (и&nbsp;не&nbsp;только нормативные) акты, регулирующие семейные правоотношения. Их&nbsp;доскональное знание и&nbsp;понимание позволяет юристу по&nbsp;семейным делам более качественно представлять интересы своих доверителей в&nbsp;суде, собрать необходимые для выигрыша дела доказательства.
                    p &mdash;&nbsp;Изучение судебных решений по&nbsp;аналогичным делам позволяет более правильно понимать сущность рассматриваемого спора, доносить до&nbsp;суда свою позицию, что, в&nbsp;конечном итоге, приводит к&nbsp;положительному для доверителей судебному решению.
                    p &mdash;&nbsp;Семейный юрист, кроме всего прочего, еще и&nbsp;является немного семейным психологом, что позволяет донести до&nbsp;сторон спора плюсы окончания дела мировым соглашением, а&nbsp;это экономит время, деньги.

                    h2.content-title#ch3 Как следует выбирать юриста?
                    p Согласитесь, нельзя быть специалистом во&nbsp;все сразу, явно что&nbsp;&mdash; то&nbsp;будет упущено.
                    p Если Вам нужен юрист, то&nbsp;выбирайте специалиста в&nbsp;конкретной области права. Например, если у&nbsp;вас уголовное дело, то&nbsp;требуется адвокат (среди них так&nbsp;же есть разные специалисты&nbsp;&mdash; по&nbsp;наркотикам, по&nbsp;ДТП, по&nbsp;убийствам и&nbsp;т.д.), если спор между предпринимателями, то&nbsp;лучше подыскать юриста&nbsp;&mdash; арбитражника, если у&nbsp;вас семейный спор, то&nbsp;выбирайте юриста (адвоката) по&nbsp;семейным делам и&nbsp;т.д.

                    h2.content-title#ch4 Как строится работа с Семейным юристом.
                    p Любое взаимоотношение с&nbsp;юристом начинается с&nbsp;консультации.
                    p Именно на&nbsp;консультации вы&nbsp;узнаете все тонкости Вашего дела, варианты развития событий, получите полную юридическую оценку.
                    p Далее заключается договор на&nbsp;оказание юридических услуг (в&nbsp;котором фиксируется цена оказываемых услуг и&nbsp;объем работы, а&nbsp;так&nbsp;же права и&nbsp;обязанности сторон). Расходы на&nbsp;юридические услуги будут взысканы с&nbsp;проигравшей стороны.
                    p Если Вы&nbsp;не&nbsp;хотите участвовать лично в&nbsp;судебном процессе, то&nbsp;необходима доверенность на&nbsp;ведение дела в&nbsp;суде.
                    p Семейный юрист качественно и&nbsp;с&nbsp;максимальной выгодой для Вас проведет судебный процесс, поучаствует по&nbsp;всех судебных заседаниях, грамотно выразит позицию по&nbsp;делу, представит доказательства и&nbsp;обоснует заявленные требования.
                    p Семейные отношения многогранны: в&nbsp;них переплетаются личные неимущественные отношения (заключение или расторжение брака), имущественные отношения, споры по&nbsp;детям, установление или оспаривание отцовства.
                    p Каждый конкретный случай уникален и&nbsp;требует грамотного подхода, который могут обеспечить опытные семейные юристы.
                    p Чаще всего &laquo;бытовое&raquo; понимание юридической проблемы в&nbsp;области семейных отношений является неверным и&nbsp;отличается от&nbsp;того, как понимают эту проблемы профессионалы (юристы, адвокаты, судьи).

                .txt-block
                    p Статья подготовлена специалистами <a href="/">Юридического центра &laquo;Право и&nbsp;Семья&raquo;</a>
                    p Все права защищены и&nbsp;охраняются законом.<br>
                        | При полном или частичном использовании материалов
                        | обязательна ссылка на&nbsp;сайт http://pravo59.com/


            aside.content__col.content__col_sm

                include inc/sub-menu

    include inc/contact-block.html