extends inc/base

block title
    title= 'Споры о детях. Услуги юриста по семейным делам | Центр Право и Семья'
    meta(name='description' content='Узнайте, как определить место жительства ребенка, или порядок общения ребенка с родителем, дедушкой, бабушкой и другими родственниками. Консультации, суд')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/spory-o-detyah.jpg" alt="споры о детях")
                    .banner__info
                        h1.banner__title Споры о детях
                        p.banner__txt Защитим Ваши права и права Вашего ребенка

                .txt-block
                    p Консультации и&nbsp;судебное представительство по&nbsp;вопросам, связанным с&nbsp;воспитанием и&nbsp;общением с&nbsp;ребенком:
                    ul.list
                        li определение порядка общения с&nbsp;детьми
                        li определение места жительства ребенка
                        li общение с&nbsp;ребенком дедушки, бабушки и&nbsp;других родственников
                        li защита родителя от&nbsp;злоупотреблений правами другим родителем

                    p Дети&nbsp;&mdash; самое ценное для родителей. Порой дети превращаются в&nbsp;инструмент манипулирования или мести&nbsp;&mdash; родитель, с&nbsp;которым проживает ребенок, запрещает ребенку видеться и&nbsp;общаться с&nbsp;другим родителем, дедушкой, бабушкой и&nbsp;другими родственниками. Бывает, родители спорят о&nbsp;месте жительства ребенка.
                    p Все это большой стресс для ребенка. В&nbsp;таких случаях очень важно соблюдение интересов и&nbsp;родителей и&nbsp;ребенка.
                    p Если Вы&nbsp;не&nbsp;можете договориться с&nbsp;бывшим супругом о&nbsp;порядке общения с&nbsp;ребенком, поездках в&nbsp;отпуск, проведении совместных праздников, то&nbsp;обращайтесь к&nbsp;нам за&nbsp;юридической помощью.
                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; провели большое количество судебных процессов с&nbsp;благоприятным решением суда и&nbsp;позаботятся о&nbsp;максимальной защите Ваших прав и&nbsp;прав Вашего ребенка.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Бывшая жена не&nbsp;дает видеться с&nbsp;ребенком. На&nbsp;мои просьбы он&nbsp;не&nbsp;реагирует. Что мне делать?
                    .faq-block__answer
                        p Если родитель, с&nbsp;которым проживает ребенок, не&nbsp;дает другому родителю видеться с&nbsp;ребенком, следует предпринять следующие меры:
                        ol.num-list
                            li Попытаться решить вопрос миром&nbsp;&mdash; договориться о&nbsp;времени и&nbsp;продолжительности общения с&nbsp;ребенком. Следует сразу обговорить общение в&nbsp;каникулы, праздничные дни. Составить график общения отца с&nbsp;ребенком в&nbsp;письменном виде и&nbsp;направить жене для согласования. Если жена не&nbsp;реагирует или предлагает вариант, не&nbsp;страивающий отца, то&nbsp;необходимо обращаться в&nbsp;суд с&nbsp;иском об&nbsp;определении порядка осуществления родительских прав.
                            li Судебный порядок определения общения отца с&nbsp;ребенком. Необходимо составить исковое заявление, четко сформулировать требования, уплатить государственную пошлину и&nbsp;отправить заявление в&nbsp;суд. К&nbsp;иску необходимо приложить копию свидетельства о&nbsp;рождении ребенка. В&nbsp;суде обязательно будут принимать участие органы опеки и&nbsp;попечительства.
                        p Судебные дела подобного рода требуют хорошего знания семейного права. Если Вы&nbsp;решили самостоятельно защищать свои права, то&nbsp;рекомендуем получить юридическую консультацию юриста по&nbsp;семейным делам.

                    .faq-block__question.js-faq Хочу поехать с&nbsp;ребенком летом в&nbsp;отпуск на&nbsp;море, но&nbsp;жена против. Сама его никуда не&nbsp;везет. Как мне добиться совместной поездки с&nbsp;ребенком?
                    .faq-block__answer
                        p Вам никто не&nbsp;может помешать забрать ребенка с&nbsp;собой на&nbsp;отдых. Для этого согласие жены не&nbsp;требуется. Главное, уведомить жену, что вы&nbsp;с&nbsp;ребенком уехали.
                        p Можно так&nbsp;же заблаговременно в&nbsp;судебном порядке определить время Вашего летнего отдыха с&nbsp;ребенком, а&nbsp;так&nbsp;же порядок общения с&nbsp;ребенком на&nbsp;период не&nbsp;только летних каникул, но&nbsp;и&nbsp;каникул в&nbsp;течение всего учебного года. То&nbsp;есть можно определить порядок общения таким образом, что ребенок на&nbsp;время каникул будет проживать с&nbsp;Вами. Вариантов определения порядка общения с&nbsp;ребенком очень много.


                    .faq-block__question.js-faq Бывшая жена моего сына не&nbsp;дает мне видеться с&nbsp;внуком. Чем мне можно помочь?
                    .faq-block__answer
                        p В&nbsp;данном случае необходимо обращаться в&nbsp;суд.
                        p Дедушка, бабушка, братья, сестры и&nbsp;другие родственники имеют право на&nbsp;общение с&nbsp;ребенком.
                        p В&nbsp;случае отказа матери ребенка от&nbsp;предоставления близким родственникам ребенка возможности общаться с&nbsp;ним орган опеки и&nbsp;попечительства может обязать мать не&nbsp;препятствовать этому общению.
                        p Если мать не&nbsp;подчинится решению органа опеки и&nbsp;попечительства, Вы&nbsp;вправе обратиться в&nbsp;суд с&nbsp;иском об&nbsp;устранении препятствий к&nbsp;общению с&nbsp;ребенком. Суд разрешает спор исходя из&nbsp;интересов ребенка и&nbsp;с&nbsp;учетом мнения ребенка.

                    .faq-block__question.js-faq Мы&nbsp;с&nbsp;бывшей женой в&nbsp;суде заключили мировое соглашение о&nbsp;том, что ребенок будет жить с&nbsp;матерью. Год назад бывшая жена вышла замуж. Сын стал чаще оставаться у&nbsp;меня и&nbsp;последние 6&nbsp;месяцев живет со&nbsp;мной. Алименты с&nbsp;меня взыскивают. Сыну 11&nbsp;лет и&nbsp;он&nbsp;хочет жить со&nbsp;мной. Как мне следует поступить?
                    .faq-block__answer
                        p Вам необходимо обратиться в&nbsp;суд с&nbsp;иском об&nbsp;определении места жительства ребенка с&nbsp;отцом и&nbsp;одновременно заявить требования об&nbsp;освобождении от&nbsp;уплаты алиментов. Мнения ребенка о&nbsp;месте его проживания с&nbsp;10&nbsp;лет обязательно будет учитываться судом при вынесении решения. Взыскивать с&nbsp;матери ребенка алименты или нет решать Вам. Советуем Вам обратиться за&nbsp;помощью к&nbsp;адвокату по&nbsp;семейным делам. В&nbsp;этом случае шансы выиграть дело увеличиваются.

                    .faq-block__question.js-faq Мой сын живет с&nbsp;матерью. Со&nbsp;мной ребенок встречается, но&nbsp;очень редко. У&nbsp;меня был день рождения, но&nbsp;бывшая жена ребенка не&nbsp;отпустила. Хотя сын хотел поздравить меня и&nbsp;пообщаться со&nbsp;всеми родственниками. Можно как&nbsp;&mdash; то&nbsp;урегулировать такой вопрос?
                    .faq-block__answer
                        p Если жена не&nbsp;дает видеться с&nbsp;ребенком и&nbsp;не&nbsp;отпускает его на&nbsp;день рождения отца, необходимо обратиться в&nbsp;суд с&nbsp;иском. При грамотном подходе такое дело выиграть возможно и&nbsp;определить порядок общения ребенка с&nbsp;отцом, в&nbsp;том числе на&nbsp;время праздников, каникул, выходных дней. Так&nbsp;же можно в&nbsp;судебном порядке обязать мать не&nbsp;чинить отцу препятствий в&nbsp;общении с&nbsp;ребенком.

                    .faq-block__question.js-faq Моей дочери 2&nbsp;года. Живет со&nbsp;мной. Бывший муж сказал, что обратится в&nbsp;суд и&nbsp;заберет дочь себе. Но&nbsp;я&nbsp;против этого, так как я&nbsp;хочу жить с&nbsp;дочерью. Если он&nbsp;подаст иск, как мне выиграть суд?
                    .faq-block__answer
                        p Несмотря на&nbsp;равенство прав и&nbsp;обязанностей родителей, у&nbsp;Вашего бывшего супруга шансов забрать дочь к&nbsp;себе очень мало, но&nbsp;они есть. Суд, прежде всего, при вынесении решения будет исходить из&nbsp;интересов ребенка с&nbsp;учетом мнения органов опеки и&nbsp;попечительства. Будет учитываться пол и&nbsp;возраст ребенка, жилищные условия, характеристика каждого из&nbsp;родителей. Что&nbsp;бы выиграть суд, потребуется собрать доказательства Вашей позиции, написать возражение относительно исковых требований и&nbsp;грамотно защитить свои права в&nbsp;суде. Юридическая помощь в&nbsp;этом вопросе точно не&nbsp;помешает.

                    .faq-block__question.js-faq Я&nbsp;живу вместе с&nbsp;девятилетним сыном. Мой бывший муж живет отдельно от&nbsp;нас. Он&nbsp;его забирает, когда хочет и&nbsp;приводит, когда хочет. Меня не&nbsp;ставит в&nbsp;известность. Из&nbsp;&mdash; за&nbsp;этого нарушается учебный процесс и&nbsp;сын иногда пропускает дополнительные занятия и&nbsp;спортивную секцию. Я&nbsp;могу как&nbsp;&mdash; то&nbsp;через суд повлиять на&nbsp;него?
                    .faq-block__answer
                        p Если мирно с&nbsp;отцом ребенка невозможно договориться, то&nbsp;Вы можете обратиться в&nbsp;суд с&nbsp;иском об&nbsp;определении порядка общения отца с&nbsp;ребенком. В&nbsp;обоснование своих требований приложить договоры об&nbsp;оказании услуг с&nbsp;компаниями, оказывающими услуги (Спортивные секции, дополнительное образование и&nbsp;т.д.), а&nbsp;так&nbsp;же расписание этих занятий и&nbsp;секций. В&nbsp;иске просить определить порядок общения отца с&nbsp;ребенком таким образом, что&nbsp;бы это устраивало Вас, не&nbsp;противоречило правам ребенка и&nbsp;не&nbsp;нарушало учебного процесса. Иного варианта нет, так как у&nbsp;Вас и&nbsp;у&nbsp;отца ребенка равные права и&nbsp;обязанности по&nbsp;воспитанию ребенка.

                    .faq-block__question.js-faq Я&nbsp;вышла замуж. Взяла другую фамилию. Со&nbsp;мной живет ребенок от&nbsp;первого брака. Теперь у&nbsp;нас разные фамилии. Я&nbsp;хочу (и&nbsp;мой муж не&nbsp;против), что&nbsp;бы у&nbsp;нас была общая фамилия. Как это сделать? Бывший муж, скорее всего, будет возражать.
                    .faq-block__answer
                        p В&nbsp;этой ситуации два важных момента: хочет&nbsp;ли Ваш муж усыновить ребенка или&nbsp;Вы просто хотите дать ребенку свою фамилию, и&nbsp;возраст ребенка.
                        p Усыновление. Для усыновления ребенка необходимо согласие его отца. Если он&nbsp;не&nbsp;даст согласия, то&nbsp;усыновить ребенка не&nbsp;получится за&nbsp;исключением некоторых случаев, например, лишения отца родительских прав.
                        p Смена фамилии. Если родители проживают раздельно и&nbsp;родитель, с&nbsp;которым проживает ребенок, желает присвоить ему свою фамилию, орган опеки и&nbsp;попечительства разрешает этот вопрос в&nbsp;зависимости от&nbsp;интересов ребенка и&nbsp;с&nbsp;учетом мнения другого родителя. Учет мнения родителя не&nbsp;обязателен при невозможности установления его места нахождения, лишении его родительских прав, признании недееспособным, а&nbsp;также в&nbsp;случаях уклонения родителя без уважительных причин от&nbsp;воспитания и&nbsp;содержания ребенка.
                        p Вам необходимо обратиться с&nbsp;соответствующим заявлением в&nbsp;Органы опеки и&nbsp;попечительства.

                    .faq-block__question.js-faq Может&nbsp;ли бывшая жена без моего согласия перевести ребенка в&nbsp;другую школу?
                    .faq-block__answer
                        p Все вопросы воспитания ребенка родители решают совместно. Если Вы&nbsp;считаете, что нарушены права ребенка, то&nbsp;надо обратиться в&nbsp;органы опеки и&nbsp;попечительства с&nbsp;заявлением. Так&nbsp;же Вы&nbsp;можете оспорить решение жены в&nbsp;судебном порядке. Вы&nbsp;выиграете суд только в&nbsp;том случае, если такой перевод нарушает интересы ребенка. Если суд придет к&nbsp;выводу, что мать вынуждена была перевести ребенка в&nbsp;другую школу (например, в&nbsp;связи с&nbsp;переездом) или в&nbsp;новой школе условия лучше, то&nbsp;Вам откажут в&nbsp;удовлетворении исковых требований.

                    .faq-block__question.js-faq Я&nbsp;забрал ребенка без спроса бывшей жены. Ребенок живет у&nbsp;меня уже неделю. Бывшая жена говорит, что если я&nbsp;не&nbsp;отдам ребенка, то&nbsp;она подаст на&nbsp;меня заявление в&nbsp;полицию о&nbsp;похищении ребенка. Могут меня посадить за&nbsp;похищения собственного сына?
                    .faq-block__answer
                        p Нет, не&nbsp;могут. У&nbsp;Вас такие&nbsp;же права и&nbsp;обязанности родителя, как и&nbsp;у&nbsp;бывшей жены. Если&nbsp;же в&nbsp;судебном порядке определено место жительства ребенка с&nbsp;женой, и&nbsp;Вы забрали ребенка, то&nbsp;Вас могут привлечь к&nbsp;административной ответственности за&nbsp;неисполнение решения суда. Могут и&nbsp;не&nbsp;привлечь (зависит от&nbsp;обстоятельств).

            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Исковое заявление об определении места жительства ребенка
                //        li
                //            a(href="#") Мнение ребенка в споре родителей о месте его проживания
                //        li
                //            a(href="#") Не дают видеться с ребенком
                //        li
                //            a(href="#") Общение ребенка с бабушкой и дедушкой
                //        li
                //            a(href="#") Общение с ребенком после развода
                //        li
                //            a(href="#") Определение места жительства ребенка
                //        li
                //            a(href="#") Определение места жительства ребенка с матерью
                //        li
                //            a(href="#") Определение места жительства ребенка с отцом
                //        li
                //            a(href="#") Определение порядка встреч с ребенком
                //        li
                //            a(href="#") Определение порядка общения ребенка с отцом по инициативе матери
                //        li
                //            a(href="#") Определение порядка общения с ребенком
                //        li
                //            a(href="#") Споры о проживании детей
                //        li
                //            a(href="#") Услуги юриста при споре о проживании ребенка

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html