extends inc/base

block title
    title= 'Установление и оспаривание отцовства | Центр Право и Семья'
    meta(name='description' content='Узнайте, как быстро и правильно установить или оспорить отцовство. Услуги опытного юриста по семейным делам с гарантией 100 % результата. Суд и консультации')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/ustanovlenie-i-osparivanie-otcovstva.jpg" alt="отцовство")
                    .banner__info
                        h1.banner__title Установление и оспаривание отцовства
                        p.banner__txt гарантируем 100% результат

                .txt-block
                    p Консультации и&nbsp;судебное представительство по&nbsp;семейным делам:
                    ul.list
                        li установление отцовства
                        li оспаривание отцовства
                        li отмена алиментов
                        li установление отцовства после смерти отца

                    p Установить или оспорить отцовство можно только в&nbsp;судебном порядке. Такие дела подсудны районному суду. Попутно с&nbsp;установлением или оспариванием отцовства необходимо взыскать или отменить алименты.
                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; провели большое количество судебных процессов по&nbsp;установлению и&nbsp;оспариванию отцовства. Все решения, принятые с&nbsp;нашим участием в&nbsp;суде, законны и&nbsp;обоснованы, так как в&nbsp;суд представлены доказательства на&nbsp;100% подтверждающие или опровергающие отцовство.
                    p Поможем установить отцовство после смерти отца, что требуется для вступления в&nbsp;наследство или получения выплат в&nbsp;связи со&nbsp;смертью кормильца.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq У&nbsp;меня родился ребенок, но&nbsp;мой бывший молодой человек не&nbsp;хочет признавать отцовство и&nbsp;платить алименты. Куда мне обратиться и&nbsp;как признать отцовство?
                    .faq-block__answer
                        p Установить отцовство можно только в&nbsp;судебном порядке. Необходимо обратиться с&nbsp;исковым заявлением в&nbsp;районный суд по&nbsp;месту своего жительства или по&nbsp;месту жительства ответчика (куда Вам удобней). В&nbsp;иске указать обстоятельства дела, приложить доказательства обоснования своей позиции. В&nbsp;случае необходимости заявить ходатайство о&nbsp;проведении генетической экспертизы. Одновременно с&nbsp;требованиями установить отцовство надо заявить требования о&nbsp;взыскании алиментов.

                    .faq-block__question.js-faq Девушка родила ребенка. Утверждает, что ребенок от&nbsp;меня. На&nbsp;экспертизу не&nbsp;соглашается. Могу&nbsp;ли я&nbsp;подать в&nbsp;суд и&nbsp;доказать, что ребенок не&nbsp;мой?
                    .faq-block__answer
                        p В&nbsp;данной ситуации нет необходимости обращаться в&nbsp;суд, так как Ваши права еще не&nbsp;нарушены. (Если&nbsp;бы Вы&nbsp;хотели установить отцовство, тогда надо было обращаться в&nbsp;суд). Если девушка сама обратится в&nbsp;суд, то&nbsp;Вам обязательно надо будет участвовать в&nbsp;суде. Иначе, если&nbsp;Вы проигнорируете суд, то&nbsp;может быть установлено Ваше отцовство. Например, суд назначит экспертизу, а&nbsp;Вы ее&nbsp;проигнорируете. При уклонении стороны от&nbsp;участия в&nbsp;экспертизе, если по&nbsp;обстоятельствам дела и&nbsp;без участия этой стороны экспертизу провести невозможно, суд в&nbsp;зависимости от&nbsp;того, какая сторона уклоняется от&nbsp;экспертизы, а&nbsp;также какое для нее она имеет значение, вправе признать факт, для выяснения которого экспертиза была назначена, установленным или опровергнутым.

                    .faq-block__question.js-faq Жена родила ребенка. В&nbsp;настоящий момент мы&nbsp;разводимся. В&nbsp;порыве ссоры жена заявила, что ребенок не&nbsp;мой. Я&nbsp;теперь сомневаюсь в&nbsp;своем отцовстве. Я&nbsp;хочу знать правду. Как мне поступить?
                    .faq-block__answer
                        p Вы&nbsp;можете провести генетическую экспертизу. По&nbsp;результатам станет все известно. Жена может не&nbsp;согласиться на&nbsp;добровольную экспертизу. В&nbsp;этом случае обращайтесь в&nbsp;суд с&nbsp;иском об&nbsp;оспаривании отцовства. Так&nbsp;же надо сразу заявить требования об&nbsp;исключении Вас из&nbsp;записи акта о&nbsp;рождении в&nbsp;качестве отца. В&nbsp;суде обязательно надо заявить ходатайство о&nbsp;проведении ДНК&nbsp;&mdash; экспертизы. В&nbsp;этом случае будет достоверно ясно&nbsp;Вы отец ребенка или нет.

                    .faq-block__question.js-faq Я&nbsp;с&nbsp;отцом ребенка находилась в&nbsp;отношениях. Когда ребенок родился, мы&nbsp;проживали вместе как семья, но&nbsp;брак не&nbsp;регистрировали. Отцовство не&nbsp;устанавливали. В&nbsp;свидетельстве о&nbsp;рождении отец не&nbsp;указан (стоит прочерк). Ребенку сейчас 5&nbsp;лет.&nbsp;4&nbsp;месяца назад отец ребенка умер. После смерти осталось имущество. Как моему ребенку вступить в&nbsp;наследство и&nbsp;как доказать отцовство?
                    .faq-block__answer
                        p В&nbsp;случае смерти лица, которое признавало себя отцом ребенка, но&nbsp;не&nbsp;состояло в&nbsp;браке с&nbsp;матерью ребенка, факт признания им&nbsp;отцовства может быть установлен в&nbsp;судебном порядке. Важно правильно составить иск и&nbsp;представить все необходимые доказательства для удовлетворения иска: показания свидетелей, совместные фотографии, показания родственников умершего и&nbsp;иные доказательства. После установления отцовства, Ваш ребенок будет являться наследником первой очереди. Юристы нашей компании неоднократно занимались подобными делами и&nbsp;успешно их&nbsp;выигрывали. Обращайтесь&nbsp;&mdash; мы&nbsp;Вам поможем.

                    .faq-block__question.js-faq Я&nbsp;встречался с&nbsp;девушкой (она была замужем), но&nbsp;детей у&nbsp;них с&nbsp;мужем не&nbsp;было.&nbsp;3&nbsp;года назад она родила мальчика и&nbsp;в&nbsp;качестве отца указан ее&nbsp;муж. Но&nbsp;девушка утверждает, что это мой ребенок. Я&nbsp;ей&nbsp;поверил.&nbsp;2&nbsp;года назад она переехала ко&nbsp;мне, с&nbsp;мужем развелась почти сразу после расставания. Мы&nbsp;с&nbsp;ней расписались год назад. Теперь у&nbsp;нас общая фамилия. Но&nbsp;у&nbsp;ребенка фамилия бывшего мужа моей жены. Я&nbsp;хочу убедиться, что это мой ребенок и&nbsp;если он&nbsp;мой, то&nbsp;усыновить его. Как мне поступить и&nbsp;можно&nbsp;ли вообще что&nbsp;&mdash; то&nbsp;сделать?
                    .faq-block__answer
                        p В&nbsp;этом случае речь идет не&nbsp;об&nbsp;усыновлении, а&nbsp;об&nbsp;установлении отцовства. Такой вопрос можно решить только в&nbsp;судебном порядке. Обратитесь в&nbsp;районный суд с&nbsp;заявлением об&nbsp;установлении отцовства. В&nbsp;суде обязательно надо провести ДНК&nbsp;&mdash; экспертизу. В&nbsp;нашей практике были аналогичные дела, которые были разрешены положительно. Вместе с&nbsp;требованиями об&nbsp;установлении отцовства заявляются требования об&nbsp;исключении из&nbsp;записи в&nbsp;ЗАГСе сведений о&nbsp;лице, записанном в&nbsp;качестве истца.

                    .faq-block__question.js-faq У&nbsp;меня в&nbsp;браке родился ребенок. Сейчас мы&nbsp;развелись. Я&nbsp;уверена, что ребенок не&nbsp;от&nbsp;мужа. Алименты он&nbsp;не&nbsp;платит. С&nbsp;ребенком не&nbsp;видится. С&nbsp;нами он&nbsp;не&nbsp;общается. Я&nbsp;хочу оспорить отцовство, то&nbsp;есть что&nbsp;бы в&nbsp;графе отец стоял прочерк. Можно&nbsp;ли так сделать?
                    .faq-block__answer
                        p Запись родителей в&nbsp;книге записей рождений может быть оспорена только в&nbsp;судебном порядке по&nbsp;требованию лица, записанного в&nbsp;качестве отца или матери ребенка. То&nbsp;есть необходимо обратиться в&nbsp;суд с&nbsp;иском об&nbsp;исключении из&nbsp;записи в&nbsp;акте о&nbsp;рождении сведений о&nbsp;лице, указанном в&nbsp;качестве отца ребенка. Если окажется, что ребенок действительно не&nbsp;от&nbsp;мужа, то&nbsp;суд, скорее всего, удовлетворит такие требования. Важно еще поведение отца в&nbsp;судебном процессе и&nbsp;его позиция.

                    .faq-block__question.js-faq Я&nbsp;состою в&nbsp;браке, но&nbsp;с&nbsp;мужем не&nbsp;живем. Сейчас меня есть другой мужчина. Я&nbsp;от&nbsp;него забеременела, нахожусь на&nbsp;7&nbsp;месяце беременности. Как мне записать ребенка на&nbsp;настоящего отца ребенка?
                    .faq-block__answer
                        p Лучше всего расторгнуть брак с&nbsp;мужем и&nbsp;выйти замуж за&nbsp;отца будущего ребенка. И&nbsp;никаких проблем не&nbsp;возникнет. Если Вас такой вариант не&nbsp;устраивает, необходимо после рождения обращаться в&nbsp;ЗАГС вместе с&nbsp;отцом ребенка. Если органы ЗАГС откажут в&nbsp;регистрации, то&nbsp;надо будет обращаться в&nbsp;суд с&nbsp;иском об&nbsp;установлении отцовства.

                    .faq-block__question.js-faq Я&nbsp;в&nbsp;разводе с&nbsp;женой. Есть ребенок. Жена говорит, что оспорит отцовство в&nbsp;суде. Приведет свидетелей, и&nbsp;сама даст показания, что ребенок не&nbsp;мой. Она это хочет сделать, так как собирается замуж и&nbsp;хочет, что&nbsp;бы моего ребенка усыновил ее&nbsp;будущий муж. Как мне защитить себя? Я&nbsp;уверен, что ребенок мой.
                    .faq-block__answer
                        p Вам необходимо в&nbsp;такой ситуации написать возражение относительно исковых требований. Привести доказательства своей правоты. В&nbsp;случае необходимости провести генетическую экспертизу. Игнорировать такой судебный процесс не&nbsp;в&nbsp;Ваших интересах, так как если вдруг суд удовлетворит требования Вашей бывшей жены, то&nbsp;установить отцовство обратно практически невозможно.

                    .faq-block__question.js-faq Моему сыну 11&nbsp;лет. Я&nbsp;хочу установить отцовство, так как знаю, кто отец. Мой сын возражает против этого, так отца никогда не&nbsp;видел. А&nbsp;мне нужны алименты. Установит&nbsp;ли суд отцовство?
                    .faq-block__answer
                        p Рекомендуем Вам поговорить с&nbsp;ребенком, выслушать его аргументы, объяснить ему для чего это надо и&nbsp;убедить его.
                        p Ребенок вправе выражать свое мнение при решении в&nbsp;семье любого вопроса, затрагивающего его интересы, а&nbsp;также быть заслушанным в&nbsp;ходе любого судебного или административного разбирательства. Учет мнения ребенка, достигшего возраста десяти лет, обязателен, за&nbsp;исключением случаев, когда это противоречит его интересам. Мнение ребенка было&nbsp;бы обязательным при усыновлении. В&nbsp;соответствии с&nbsp;Семейным кодексом&nbsp;РФ мнение ребенка при установлении отцовства не&nbsp;является обязательным. Кроме того, установление отцовства не&nbsp;противоречит его интересам. Устанавливать или не&nbsp;устанавливать отцовство в&nbsp;такой ситуации решать только Вам. Суд с&nbsp;большой долей вероятности удовлетворит Ваши требования.

            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Оспаривание отцовства
                //        li
                //            a(href="#") Установление отцовства
                //        li
                //            a(href="#") Доказательства для установления отцовства
                //        li
                //            a(href="#") Исковое заявление об установлении отцовства
                //        li
                //            a(href="#") Порядок оспаривания отцовства через суд
                //        li
                //            a(href="#") Установление отцовства через суд
                //        li
                //            a(href="#") Юрист по вопросам отцовства
                //        li
                //            a(href="#") Для чего устанавливать отцовство
                //        li
                //            a(href="#") Отцовство после смерти отца

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html