extends inc/base

block title
    title= 'Взыскание алиментов. Помощь семейного юриста | Центр Право и Семья '
    meta(name='description' content='Узнайте, как правильно и быстро взыскать алименты. Алименты в твердой денежной сумме, в долях от дохода – поможем в суде защитить права ребенка')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/vzyskanie-alimentov.jpg" alt="взыскание алиментов")
                    .banner__info
                        h1.banner__title Взыскание алиментов
                        p.banner__txt Поможем защитить Вас и Вашего ребенка

                .txt-block
                    p Взыщем алименты в&nbsp;судебном порядке:
                    ul.list
                        li в&nbsp;долях от&nbsp;заработной платы
                        li в&nbsp;твердой денежной сумме
                        li если отец (мать) не&nbsp;работает
                        li если у&nbsp;родителя нет дохода
                        li неустойку по&nbsp;алиментам
                        li дополнительные расходы на&nbsp;содержание ребенка

                    p Взыскание алиментов&nbsp;&mdash; непростой судебный процесс. Это обусловлено тем, что родитель уклоняется от&nbsp;содержания ребенка. Следовательно, принимает все меры к&nbsp;тому, что&nbsp;бы платить меньшую сумму алиментов или не&nbsp;платить вовсе. В&nbsp;этом случае понадобится помощь адвоката по&nbsp;семейным делам.
                    p Мы&nbsp;сможем отстоять Ваши интересы в&nbsp;суде: поможем определиться со&nbsp;способом взыскания алиментов, составим иск, грамотно сформулируем исковые требования, поможем в&nbsp;сборе доказательств.
                    p Адвокат по&nbsp;семейным делам&nbsp;&mdash; это представитель в&nbsp;судебном процессе и&nbsp;действует исключительно в&nbsp;интересах своего доверителя.
                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; позаботятся о&nbsp;максимальной защите прав Вашего ребенка и&nbsp;Ваших имущественных правах.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq В&nbsp;какой суд обращаться за&nbsp;алиментами? Госпошлина за&nbsp;алименты.
                    .faq-block__answer
                        p С&nbsp;исковым заявлением о&nbsp;взыскании алиментов следует обращаться в&nbsp;мировой суд. Иск может быть подан как по&nbsp;месту жительства истца, так и&nbsp;по&nbsp;месту жительства ответчика. Госпошлина за&nbsp;подачу иска составляет 150 рублей (вне зависимости от&nbsp;количества детей). Если судом выносится решение о&nbsp;взыскании алиментов как на&nbsp;содержание детей, так и&nbsp;на&nbsp;содержание истца, размер государственной пошлины увеличивается в&nbsp;два раза.

                    .faq-block__question.js-faq Отец ребенка не&nbsp;работает. Как с&nbsp;него можно взыскать алименты?
                    .faq-block__answer
                        p Можно взыскать алименты как в&nbsp;размере &frac14; от&nbsp;всех видов дохода, так и&nbsp;в&nbsp;твердой денежной сумме.
                        p В&nbsp;первом случае, учитывая, что дохода нет, пристав будет производить расчет задолженности, исходя из&nbsp;средней заработной платы (около 30&nbsp;000&nbsp;рублей), то&nbsp;есть ежемесячно примерно 7&nbsp;500&nbsp;рублей. Это долг будет расти. Если&nbsp;же отец устроится на&nbsp;работу и&nbsp;принесет приставу справку 2&nbsp;НДФЛ, то&nbsp;расчет будет производится исходя из&nbsp;зарплаты, так&nbsp;же из&nbsp;заработной платы будет гасится долг по&nbsp;алиментам.
                        p Если&nbsp;же алименты будут в&nbsp;твердой денежной сумме, то&nbsp;ежемесячно сумма взыскания будет рассчитываться исходя из&nbsp;прожиточного минимума в&nbsp;регионе&nbsp;&mdash; около 10&nbsp;000&nbsp;рублей. Сумма алиментов составит примерно 5&nbsp;000&nbsp;рублей, так как оба родителя обязаны содержать ребенка.

                    .faq-block__question.js-faq Отца лишили родительских прав. Будет&nbsp;ли он&nbsp;платить алименты дальше?
                    .faq-block__answer
                        p Да, будет. Лишение родительских прав не&nbsp;освобождает родителей от&nbsp;обязанности содержать своего ребенка

                    .faq-block__question.js-faq Бывший муж материально ребенку не&nbsp;помогает. Мне и&nbsp;не&nbsp;надо. Я&nbsp;беспокоюсь, что когда ребенок станет взрослым, то&nbsp;отец подаст на&nbsp;ребенка на&nbsp;алименты. Как лучше поступить?
                    .faq-block__answer
                        p Есть несколько вариантов.
                        ol.num-list
                            li Лишить отца родительских прав, так как родители, лишенные родительских прав, теряют все права, основанные на&nbsp;факте родства с&nbsp;ребенком, в&nbsp;отношении которого они были лишены родительских прав, в&nbsp;том числе право на&nbsp;получение от&nbsp;него содержания
                            li Взыскать с&nbsp;отца алименты. Если он&nbsp;не&nbsp;будет платить алименты, то&nbsp;в&nbsp;дальнейшем это может послужить доказательством того, что отец ребенка не&nbsp;содержал. Дети могут быть освобождены от&nbsp;обязанности по&nbsp;содержанию своих нетрудоспособных нуждающихся в&nbsp;помощи родителей, если судом будет установлено, что родители уклонялись от&nbsp;выполнения обязанностей родителей.

                    .faq-block__question.js-faq Как подать на&nbsp;алименты?
                    .faq-block__answer
                        p Для инициации судебного процесса по&nbsp;взысканию алиментов необходимо грамотно составить исковое заявление, четко сформулировать требования, уплатить государственную пошлину. К&nbsp;иску необходимо приложить копию свидетельства о&nbsp;рождении ребенка. Иск может быть подан по&nbsp;месту жительства истца.

                    .faq-block__question.js-faq С&nbsp;мужем разошлась. Встал вопрос об&nbsp;алиментах. Муж предлагает отдать квартиру мне, с&nbsp;условием, что я&nbsp;не&nbsp;буду подавать на&nbsp;алименты. Возможно так сделать? Как это оформить?
                    .faq-block__answer
                        p Если такой вариант устраивает обоих родителей ребенка, то&nbsp;для этого необходимо составить соглашение об&nbsp;уплате алиментов, которое подлежит нотариальному удостоверению. В&nbsp;противном случае, он&nbsp;не&nbsp;будет иметь юридической силы.
                        p Алименты могут уплачиваться в&nbsp;твердой денежной сумме, уплачиваемой единовременно, а&nbsp;так&nbsp;же путем предоставления имущества, относительно которого достигнуто соглашение.


                    .faq-block__question.js-faq Что такое дополнительные расходы на&nbsp;ребенка? Можно&nbsp;ли взыскать эти расходы, если муж уже платит алименты?
                    .faq-block__answer
                        p При отсутствии соглашения и&nbsp;при наличии исключительных обстоятельств (тяжелой болезни, увечья несовершеннолетних детей или нетрудоспособных совершеннолетних нуждающихся детей, необходимости оплаты постороннего ухода за&nbsp;ними и&nbsp;других обстоятельств) каждый из&nbsp;родителей может быть привлечен судом к&nbsp;участию в&nbsp;несении дополнительных расходов, вызванных этими обстоятельствами.
                        p Порядок участия родителей в&nbsp;несении дополнительных расходов и&nbsp;размер этих расходов определяются судом исходя из&nbsp;материального и&nbsp;семейного положения родителей и&nbsp;детей и&nbsp;других заслуживающих внимания интересов сторон в&nbsp;твердой денежной сумме, подлежащей уплате ежемесячно.
                        p Суд вправе обязать родителей принять участие как в&nbsp;фактически понесенных дополнительных расходах, так и&nbsp;в&nbsp;дополнительных расходах, которые необходимо произвести в&nbsp;будущем.

                    .faq-block__question.js-faq Что такое алименты в&nbsp;твердой сумме? Как их&nbsp;взыскать и&nbsp;какой размер можно получить?
                    .faq-block__answer
                        p Если родитель, обязанный уплачивать алименты, имеет нерегулярный, меняющийся заработок, либо если у&nbsp;него отсутствует заработок, а&nbsp;также в&nbsp;других случаях, если взыскание алиментов в&nbsp;долевом отношении к&nbsp;заработку родителя невозможно, затруднительно или существенно нарушает интересы одной из&nbsp;сторон, суд вправе определить размер алиментов, взыскиваемых ежемесячно, в&nbsp;твердой денежной сумме или одновременно в&nbsp;долях и&nbsp;в&nbsp;твердой денежной сумме.
                        p Размер твердой денежной суммы определяется судом исходя из&nbsp;максимально возможного сохранения ребенку прежнего уровня его обеспечения с&nbsp;учетом материального и&nbsp;семейного положения сторон и&nbsp;других заслуживающих внимания обстоятельств.

                    .faq-block__question.js-faq С&nbsp;какого времени взыскивают алименты? Правда, что можно взыскать за&nbsp;три предыдущих года?
                    .faq-block__answer
                        p Алименты взыскиваю с&nbsp;момента подачи искового заявления в&nbsp;суд, вне зависимости от&nbsp;даты вступления в&nbsp;силу судебного решения.
                        p Алименты за&nbsp;прошедший период могут быть взысканы в&nbsp;пределах трехлетнего срока с&nbsp;момента обращения в&nbsp;суд, если судом установлено, что до&nbsp;обращения в&nbsp;суд принимались меры к&nbsp;получению средств на&nbsp;содержание, но&nbsp;алименты не&nbsp;были получены вследствие уклонения лица, обязанного уплачивать алименты, от&nbsp;их&nbsp;уплаты. В&nbsp;качестве таких доказательств могут служить письма отцу ребенка с&nbsp;просьбой платить алименты, но&nbsp;должны быть доказательства, что он&nbsp;эти письма получал.

                    .faq-block__question.js-faq Я&nbsp;на&nbsp;пенсии, но&nbsp;есть ребенок 15&nbsp;лет. Мать дочери подала на&nbsp;алименты и&nbsp;просит с&nbsp;меня ежемесячно 20&nbsp;000&nbsp;рублей. У&nbsp;меня нет таких денег. Может&nbsp;ли суд удовлетворить ее&nbsp;требования?
                    .faq-block__answer
                        p Скорее всего, будет удовлетворена &frac14; от&nbsp;всех видов дохода. Но&nbsp;если суд удовлетворит требования о&nbsp;взыскании твердой денежной суммы, то&nbsp;она не&nbsp;должна превышать 50&nbsp;% от&nbsp;величины прожиточного минимума (примерно 5&nbsp;000&nbsp;рублей). Но&nbsp;это в&nbsp;случае, если обосновать свою позицию. Если&nbsp;же принять пассивную позицию, не&nbsp;защищать свои права, не&nbsp;представлять доказательства, то&nbsp;дело может кончиться не&nbsp;в&nbsp;Вашу пользу.

                    .faq-block__question.js-faq Я&nbsp;в&nbsp;браке, но&nbsp;муж мне не&nbsp;помогает. Могу&nbsp;ли я&nbsp;обратиться в&nbsp;суд за&nbsp;алиментами?
                    .faq-block__answer
                        p Да, вправе обратиться в&nbsp;суд с&nbsp;иском о&nbsp;взыскании алиментов. Родители обязаны содержать своих несовершеннолетних детей. Наличие брака между родителями на&nbsp;размер алиментов не&nbsp;влияет. В&nbsp;случае, если родители не&nbsp;предоставляют содержание своим несовершеннолетним детям, средства на&nbsp;содержание несовершеннолетних детей (алименты) взыскиваются с&nbsp;родителей в&nbsp;судебном порядке.

                    .faq-block__question.js-faq У&nbsp;нас был гражданский брак. Родилась дочь, сейчас ей&nbsp;1,5&nbsp;года. Я&nbsp;хочу подать на&nbsp;алименты на&nbsp;содержание дочери и&nbsp;на&nbsp;свое содержание. Я&nbsp;читала, что мать ребенка может это сделать до&nbsp;трехлетнего возраста ребенка.
                    .faq-block__answer
                        p На&nbsp;содержание дочери суд требования удовлетворит. На&nbsp;содержание мамы суд в&nbsp;иске откажет.
                        p Действительно, право требовать предоставления алиментов в&nbsp;судебном порядке от&nbsp;бывшего супруга, обладающего необходимыми для этого средствами, имеет бывшая жена в&nbsp;период беременности и&nbsp;в&nbsp;течение трех лет со&nbsp;дня рождения общего ребенка.
                        p Ключевым моментом является&nbsp;то, что люди состояли в&nbsp;браке, то&nbsp;есть содержание не&nbsp;на&nbsp;мать ребенка, а&nbsp;на&nbsp;бывшую жену. В&nbsp;указанном случае брак зарегистрирован не&nbsp;был.


            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Алименты на ребенка
                //        li
                //            a(href="#") Алименты на жену
                //        li
                //            a(href="#") Алименты в твердой денежной сумме
                //        li
                //            a(href="#") Взыскание алиментов с безработного
                //        li
                //            a(href="#") Взыскание неустойки по алиментам
                //        li
                //            a(href="#") Дополнительные расходы на ребенка
                //        li
                //            a(href="#") Как перечислять алименты непосредственно ребенку
                //        li
                //            a(href="#") Как платить алименты ИП
                //        li
                //            a(href="#") Кто имеет право на алименты
                //        li
                //            a(href="#") Юрист по алиментам

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html