extends inc/base

block title
    title= 'Решение жилищных споров в суде | Центр Право и Семья'
    meta(name='description' content='Как вселить или выселить из квартиры, как разделить квартиру или определить порядок пользования квартирой. Много правовой информации по жилищным делам')

block content

    section(class="content-wrap")
        .container.container-flex

            .content__col

                .banner
                    img.banner__img(src="img/zhilishchnye-spory.jpg" alt="жилищные споры")
                    .banner__info
                        h1.banner__title Жилищные споры
                        p.banner__txt Поможем решить жилищные вопросы

                .txt-block
                    p Консультации и&nbsp;судебное представительство по&nbsp;жилищным делам:
                    ul.list
                        li вселение в&nbsp;квартиру
                        li выселение из&nbsp;квартиры
                        li определение порядка пользования квартирой
                        li сопровождение сделок с&nbsp;недвижимостью

                    p Юристы компании &laquo;Право и&nbsp;Семья&raquo; имеют большой опыт в&nbsp;судебных процессах по&nbsp;жилищным спорам. Случается так, что люди не&nbsp;могут договориться о&nbsp;том, как пользоваться квартирой, кто в&nbsp;какой комнате будет проживать. Бывает, что встает вопрос о&nbsp;выселении члена семьи. Каждый такой спор затрагивает права человека на&nbsp;жилище. Нами накоплен опыт по&nbsp;таким делам и&nbsp;почти каждый процесс оканчивался решением в&nbsp;пользу наших доверителей.
                    p Если у&nbsp;Вас возник спор по&nbsp;жилищу, обращайтесь за&nbsp;консультацией и&nbsp;доверьте ведение дела нам. Мы&nbsp;поможем добиться Вам справедливого решения.

                h2.section-title.section-title_sec.section-title_in-content#faq Вопрос-ответ
                .faq-block
                    .faq-block__question.js-faq Я&nbsp;до&nbsp;брака купил квартиру. С&nbsp;женой сейчас в&nbsp;разводе. Детей у&nbsp;нас нет. Жена выписываться не&nbsp;хочет и&nbsp;живет в&nbsp;моей квартире. Как выписать бывшую жену из&nbsp;квартиры?
                    .faq-block__answer
                        p Если бывшая жена не&nbsp;хочет добровольно выписаться из&nbsp;квартиры, то&nbsp;необходимо обратиться в&nbsp;суд с&nbsp;исковым заявлением, в&nbsp;котором просить судо снять бывшую жену с&nbsp;регистрационного учета и&nbsp;обязать ее&nbsp;освободить жилое помещение. Если все сделать правильно&nbsp;&mdash; приложить (или истребовать) необходимые доказательства, правильно составить иск и&nbsp;заявить нужные требования, дать в&nbsp;суде правильные объяснения своей позиции&nbsp;&mdash; шансы выиграть дело весьма велики.

                    .faq-block__question.js-faq Мы&nbsp;с&nbsp;женой 10&nbsp;лет назад купили квартиру. Оформили на&nbsp;жену. Теперь разводимся. Я&nbsp;сказал жене, что&nbsp;бы она мне отдала половину. Но&nbsp;она сказала, что срок исковой давности 3&nbsp;года и&nbsp;квартира только&nbsp;ее. Могу&nbsp;ли я&nbsp;разделить с&nbsp;женой квартиру?
                    .faq-block__answer
                        p В&nbsp;данном случае жена не&nbsp;права. Срок исковой давности 3&nbsp;года на&nbsp;эту ситуацию не&nbsp;распространяется. Жена всего лишь титульный собственник квартиры. У&nbsp;Вас и&nbsp;Вашей жены в&nbsp;отношении квартиры действует режим общей совместной собственности. Для того, что&nbsp;бы выделить свою долю, в&nbsp;случае если жена возражает, необходимо обратиться в&nbsp;суд. В&nbsp;судебном порядке в&nbsp;квартире будет выделена Ваша доля.

                    .faq-block__question.js-faq Мой сын более 5&nbsp;лет не&nbsp;проживает в&nbsp;моей квартире (квартира не&nbsp;приватизирована). Я&nbsp;хочу приватизировать квартиру и&nbsp;завещать ее&nbsp;дочери. Сын в&nbsp;приватизации не&nbsp;хочет участвовать. Выписываться добровольно он&nbsp;не&nbsp;хочет. Как мне его выписать из&nbsp;квартиры?
                    .faq-block__answer
                        p Однозначно надо обращаться в&nbsp;суд с&nbsp;иском о&nbsp;снятии с&nbsp;регистрационного учета. Спрогнозировать решение суда в&nbsp;данном случае очень сложно, так как удовлетворение иска или отказ в&nbsp;удовлетворении требований зависит от&nbsp;многих факторов: добровольно&nbsp;ли сын выехал из&nbsp;квартиры, не&nbsp;чинились&nbsp;ли ему препятствия в&nbsp;пользовании квартирой и&nbsp;т.п.
                        p Если он&nbsp;проживает в&nbsp;другом городе, то&nbsp;этот факт увеличивает шансы на&nbsp;успешный исход дела. В&nbsp;суд потребуется представить доказательства Вашей позиции: показания соседей, письменные доказательства (например, квитанции оплаты коммунальных платежей и&nbsp;налогов за&nbsp;помещение), объяснение ответчика. Если сын в&nbsp;суде подтвердит Ваши слова, то&nbsp;суд, скорее всего, иск удовлетворит. Но&nbsp;если сын заявит, что&nbsp;Вы его не&nbsp;пускаете в&nbsp;квартиру, сменили замки, а&nbsp;так&nbsp;же заявит встречный иск о&nbsp;вселении, то&nbsp;суд может Вам отказать, а&nbsp;его требования удовлетворить. В&nbsp;этом процессе важно доказать, что сын выехал добровольно и&nbsp;вселяться обратно не&nbsp;желает.

                    .faq-block__question.js-faq Мы&nbsp;с&nbsp;женой в&nbsp;разводе, но&nbsp;живем вместе в&nbsp;трехкомнатной квартире. С&nbsp;нами живет еще дочь&nbsp;&mdash; 14&nbsp;лет. С&nbsp;женой у&nbsp;меня плохие отношения. Как мне выделить комнату в&nbsp;квартире?
                    .faq-block__answer
                        p Необходимо обратиться в&nbsp;суд с&nbsp;иском об&nbsp;определении порядка пользования жилым помещением. К&nbsp;иску приложить справку о&nbsp;количестве проживающих лиц, план помещения. В&nbsp;иске указать, какую комнату Вы&nbsp;бы хотели занять и&nbsp;обосновать свою позицию. После решения суда будет определено, кто и&nbsp;какой комнатой будет пользоваться.
                        p ВАЖНО! Такое решение суда только определит порядок пользования жилым помещением, но&nbsp;на&nbsp;право собственности это решение не&nbsp;влияет. Если квартира оформлена на&nbsp;жену, то&nbsp;мы&nbsp;рекомендуем заявить так&nbsp;же требования о&nbsp;выделе доли в&nbsp;квартире.

                    .faq-block__question.js-faq Я&nbsp;съехал из&nbsp;квартиры матери 8&nbsp;лет назад. В&nbsp;квартире я&nbsp;до&nbsp;сих пор зарегистрирован. Мать умерла 7&nbsp;лет назад, ее&nbsp;муж (не&nbsp;мой отец), оформил квартиру на&nbsp;себя&nbsp;&mdash; стал главным квартиросъемщиком. Сейчас он&nbsp;подал в&nbsp;суд на&nbsp;меня и&nbsp;хочет меня выписать. Я&nbsp;же не&nbsp;хочу выписываться, так у&nbsp;меня нет другой квартиры. Сможет&nbsp;ли он&nbsp;меня выписать? Как мне следует поступить в&nbsp;этой ситуации?
                    .faq-block__answer
                        p Рекомендуем Вам обратиться в&nbsp;суд со&nbsp;встречным иском о&nbsp;вселении в&nbsp;жилое помещение. Если проигнорировать данный судебный процесс, то, скорее всего, суд требования удовлетворит. Вам надо доказать, что причиной смены жительства стало&nbsp;то, что Вам чинились препятствия в&nbsp;пользовании помещением. Такой судебный процесс надо доверить юристу по&nbsp;семейным делам. Так как без знаний закона и&nbsp;судебной практики шансы проиграть суд весьма велики. При грамотном подходе к&nbsp;делу суд удовлетворит Ваши требования о&nbsp;вселении и&nbsp;не&nbsp;снимет Вас с&nbsp;регистрационного учета.

            aside.content__col.content__col_sm
                //.add-block.add-block_article
                //    h3.add-block__title Статьи по теме
                //    ul.article-list
                //        li
                //            a(href="#") Выселение из квартиры
                //        li
                //            a(href="#") Выдел доли в квартире
                //        li
                //            a(href="#") Как выписать человека  из квартиры
                //        li
                //            a(href="#") Признать человека утратившим право пользования помещением
                //        li
                //            a(href="#") Определение порядка пользования жилым помещением
                //        li
                //            a(href="#") Вселиться в квартиру
                //        li
                //            a(href="#") Раздел квартиры

                include inc/sub-menu

                .accent-block.accent-block_link.hide-tablet
                    a.accent-block__link(href="konsultacii.html") Консультации<br> Судебное представительство

    include inc/contact-block.html